/*!
	Theme Name: Eurobase
	Theme URI: https://powerhut.net/themes/
	Description: Eurobase is a WordPress eCommerce theme based on the Jessica theme (v1.3.2) by Web Savvy Marketing.
	Author: Graham Washbrook
	Author URI: https://powerhut.net/
	Text Domain: jessica

	Version: 1.0.0

	Tags:

	Template: genesis
	Template Version: 2.5.3

*/


/* # Imports
---------------------------------------------------------------------------------------------------- */
@import 'scaffold';

/*
Right to Left styles
---------------------------------------------------------------------------------------------------- */

/* @noflip */
body.rtl {
	direction: rtl;
	unicode-bidi: embed;
}


/* ## Box Sizing
--------------------------------------------- 

*,
input[type="search"] {
	-webkit-box-sizing: border-box;
	-moz-box-sizing:    border-box;
	box-sizing:         border-box;
}

*/




/* # Defaults
---------------------------------------------------------------------------------------------------- */

/* ## Typographical Elements
--------------------------------------------- */

html {
	font-size: 62.5%; // 10px ( % of browser default )
}

/* Chrome fix */
// See http://stackoverflow.com/questions/20099844/chrome-not-respecting-rem-font-size-on-body-tag
body > div {
    font-size: rem($font-size-base);
}


body {
	@include font-size($font-size-base);
	@include font-smoothing;
	background-color: $body-bg;
	color:            $text-color;
	font-family:      $font-family-base;
	font-weight:      $font-weight-base;
	line-height:      $line-height-base;
	letter-spacing:   $letter-spacing-base;
	text-rendering:   optimizelegibility;
}



// Transitions
a,
button,
input:focus,
input[type="button"],
input[type="reset"],
input[type="submit"],
textarea:focus,
.button,
.gallery img {
	-webkit-transition: all 0.1s ease-in-out;
	-moz-transition:    all 0.1s ease-in-out;
	-ms-transition:     all 0.1s ease-in-out;
	-o-transition:      all 0.1s ease-in-out;
	transition:         all 0.1s ease-in-out;
}

// Selected text
::-moz-selection {
	background-color: $selection-bg;
	color: $selection-color;
}

::selection {
	background-color: $selection-bg;
	color: $selection-color;
}


/* Links
--------------------------------------------- */

a {

	color: $link-color;
	text-decoration: $link-decoration;

	img {

		// http://stackoverflow.com/questions/7774814/remove-white-space-below-image
		vertical-align: bottom;

		@if $link-image-opacity != 1 {
			opacity: $link-image-opacity;
		} // if
		
	} // img
	
	&:hover,
	&:focus,
	&:active {
		color: $link-hover-color;
		text-decoration: $link-hover-decoration;
		outline: 0 none;
		img {
		
			@if $link-hover-image-opacity != 1 {
				opacity: $link-hover-image-opacity;
			} // if

		} // img
        
        
        
	} // hover,focus, active
	
	&:focus {
		@include tab-focus(); // WebKit-style focus
	} // focus
	
} // a



abbr[title].required {
    text-decoration: none;
}


p {
	margin: 0 0 1.5em;
	padding: 0;
}

ol,
ul {
	margin: 0;
	padding: 0;
}

li {
	list-style-type: none;
}

b,
strong {
	font-weight: $font-weight-bold;
}

cite,
em,
i {
	font-style: italic;
}

blockquote {
	background: url(images/blockquote.png) no-repeat 0 0;
	margin: 40px 0;
	padding: 0 0 0 50px;
}

blockquote p {
	margin-bottom: 0;
}

.widget-area blockquote {
	background-image: none;
	border: 2px dashed $border-color;
	margin: 0 0 40px;
	padding: 30px;
	position: relative;
}

.widget-area blockquote::after {
	background: url(images/quote-arrow.png) no-repeat 0 0;
	bottom: -37px;
	content: "";
	height: 37px;
	left: 20px;
	position: absolute;
	width: 41px;
}

hr {
	background-color: #ccc;
	border: 0;
	height: 1px;
	margin: 20px 0;
}

.box {
	background-color: #eaecec;
	border: 1px solid $border-color;
	padding: 20px;
}


/* Headings
--------------------------------------------- */

h1,h2,h3,h4,h5,h6,
.h1,.h2,.h3,.h3,.h4,.h5,.h6 {

	color:       $headings-color;
	font-family: $font-family-headings;
 	font-weight: $font-weight-headings;
	line-height: $line-height-headings;
	margin:      0 0 $headings-margin-bottom;

}

h1, .h1 { @include font-size( $font-size-h1 ) }
h2, .h2 { @include font-size( $font-size-h2 ) }
h3, .h3 { @include font-size( $font-size-h3 ) }
h4, .h4 { @include font-size( $font-size-h4 ) }
h5, .h5 { @include font-size( $font-size-h5 ) }
h6, .h6 { @include font-size( $font-size-h6 ) }


.entry-content {
    h1,h2,h3,h4,h5,h6 {
        clear:both;
    }
}


/* ## Objects
--------------------------------------------- */

embed,
iframe,
img,
object,
video,
.wp-caption {
	max-width: 100%;
}

img {
	height: auto;
}

.featured-content img,
.gallery img {
	width: auto;
}

/* ## Gallery
--------------------------------------------- */

.gallery {
	overflow: hidden;
}

.gallery-item {
	float: left;
	margin: 0 0 28px;
	text-align: center;
}

.gallery-columns-2 .gallery-item {
	width: 50%;
}

.gallery-columns-3 .gallery-item {
	width: 33%;
}

.gallery-columns-4 .gallery-item {
	width: 25%;
}

.gallery-columns-5 .gallery-item {
	width: 20%;
}

.gallery-columns-6 .gallery-item {
	width: 16.6666%;
}

.gallery-columns-7 .gallery-item {
	width: 14.2857%;
}

.gallery-columns-8 .gallery-item {
	width: 12.5%;
}

.gallery-columns-9 .gallery-item {
	width: 11.1111%;
}

.gallery img {
	border: 1px solid $border-color;
	height: auto;
	padding: 4px;
    
    &:hover {
        // border: 1px solid #999;
    }
}


/* ## Forms
--------------------------------------------- */

input,
select,
textarea {
	// background-color: #eaecec;
	border: 1px solid $border-color;
	color: $text-color;
	font-size: 16px;
	font-size: 1.6rem;
	font-weight: $font-weight-base;
	padding: 6px 10px;
	width: 100%;
}

input:focus,
textarea:focus {
	border: 1px solid $brand-primary;
	outline: none;
}

input[type="checkbox"],
input[type="image"],
input[type="radio"] {
	width: auto;
}

::-moz-placeholder {
	color: $text-color;
	font-weight: $font-weight-base;
	opacity: 1;
}

::-webkit-input-placeholder {
	color: $text-color;
	font-weight: $font-weight-base;
}

/* ## Buttons
--------------------------------------------- */
button,
input[type="button"],
input[type="reset"],
input[type="submit"],
.button {
	background-color: $button-bg;
	border: none;
	color: $button-color;
	cursor: pointer;
	font-size: 16px;
	font-size: 1.6rem;
	font-weight: 400;
	padding: 7px 20px;
	width: auto;
    text-decoration:none;
    
    &:hover,
    &:focus,
    &:active {
        // background-color: #b7c9d0;
        background-color: $button-hover-bg;
        
        // color: #fff;
        color: $button-hover-color;
        
        text-decoration: none;    
    }
    
}


.entry-content .button:hover {
	color: $button-hover-color;
}

.footer-widgets button:hover,
.footer-widgets input:hover[type="button"],
.footer-widgets input:hover[type="reset"],
.footer-widgets input:hover[type="submit"],
.footer-widgets .button:hover {
	background-color: #fff;
	color: #333;
}

.button {
	display: inline-block;
}

input[type="search"]::-webkit-search-cancel-button,
input[type="search"]::-webkit-search-results-button {
	display: none;
}


/* ## Tables
--------------------------------------------- */

table {
	border-collapse: collapse;
	border-spacing: 0;
	line-height: 2;
	margin-bottom: 40px;
	width: 100%;
}

tbody {
	border-bottom: 1px solid $border-color;
}

td,
th {
	text-align: left;
}

td {
	border-top: 1px solid $border-color;
	padding: 6px 0;
}

th {
	font-weight: 400;
}

/* ## Screen Reader Text
--------------------------------------------- */

.screen-reader-text,
.screen-reader-text span,
.screen-reader-shortcut {
	position: absolute !important;
	clip: rect(0, 0, 0, 0);
	height: 1px;
	width: 1px;
	border: 0;
	overflow: hidden;
}

.screen-reader-text:focus,
.screen-reader-shortcut:focus,
.genesis-nav-menu .search input[type="submit"]:focus,
.widget_search input[type="submit"]:focus  {
	clip: auto !important;
	height: auto;
	width: auto;
	display: block;
	font-size: 1em;
	font-weight: bold;
	padding: 15px 23px 14px;
	color: #333;
	background: #fff;
	z-index: 100000; /* Above WP toolbar. */
	text-decoration: none;
	box-shadow: 0 0 2px 2px rgba(0,0,0,.6);
}

.more-link {
    position: relative;
}


/* # Structure and Layout
---------------------------------------------------------------------------------------------------- */

/* ## Site Containers
--------------------------------------------- */


.wrap {
	margin: 0 auto;
	max-width: 1152px;
	padding: 0 22px;
}

.site-inner {
	clear: both;
	padding: 40px 0;
}

.home .site-inner {
	padding-top: 20px;
}

/* ## Column Widths and Positions
--------------------------------------------- */

/* ### Wrapping div for .content and .sidebar-primary */

.content-sidebar-wrap {
	float: left;
	width: 100%;
}

.content-sidebar-sidebar .content-sidebar-wrap,
.sidebar-content-sidebar .content-sidebar-wrap,
.sidebar-sidebar-content .content-sidebar-wrap {
	width: 980px;
}

.content-sidebar-sidebar .content-sidebar-wrap {
	float: left;
}

.sidebar-content-sidebar .content-sidebar-wrap,
.sidebar-sidebar-content .content-sidebar-wrap {
	float: right;
}

.content-sidebar .content-sidebar-wrap {
	background: url(images/content-sidebar-border.png) repeat-y 800px 0;
}

.sidebar-content .content-sidebar-wrap {
	background: url(images/content-sidebar-border.png) repeat-y 315px 0;
}

/* ### Content */

.content {
	float: right;
	width: 760px;
}

.content-sidebar .content,
.content-sidebar-sidebar .content,
.sidebar-content-sidebar .content {
	float: left;
}

.content-sidebar-sidebar .content,
.sidebar-content-sidebar .content,
.sidebar-sidebar-content .content {
	width: 580px;
}

.full-width-content .content {
	width: 100%;
}


/* ### Primary Sidebar */

.sidebar-primary {
	float: right;
	width: 275px;
}

.sidebar-content .sidebar-primary,
.sidebar-sidebar-content .sidebar-primary {
	float: left;
}

/* ### Secondary Sidebar */

.sidebar-secondary {
	float: left;
	width: 180px;
}

.content-sidebar-sidebar .sidebar-secondary {
	float: right;
}

/* ## Column Classes
--------------------------------------------- */
/* Link: http://twitter.github.io/bootstrap/assets/css/bootstrap-responsive.css */


.five-sixths,
.four-sixths,
.four-fifths,
.one-fifth,
.one-fourth,
.one-half,
.one-sixth,
.one-third,
.three-fourths,
.three-fifths,
.three-sixths,
.two-fourths,
.two-fifths,
.two-sixths,
.two-thirds {
	float: left;
	margin-bottom: 20px;
	margin-left: 2.564102564102564%;
}

.one-half,
.three-sixths,
.two-fourths {
	width: 48.717948717948715%;
}

.one-third,
.two-sixths {
	width: 31.623931623931625%;
}

.four-sixths,
.two-thirds {
	width: 65.81196581196582%;
}

.one-fourth {
	width: 23.076923076923077%;
}

.three-fourths {
	width: 74.35897435897436%;
}

.one-fifth {
	width: 17.9487179487179488%;
}

.two-fifths {
	width: 38.4615384615384616%;
}

.three-fifths {
	width: 58.9743589743589744%;
}

.four-fifths {
	width: 79.4871794871794872%;
}

.one-sixth {
	width: 14.52991452991453%;
}

.five-sixths {
	width: 82.90598290598291%;
}

.first {
	clear: both;
	margin-left: 0;
}


/* # Common Classes
---------------------------------------------------------------------------------------------------- */

/* ## Avatar
--------------------------------------------- */

.avatar {
	float: left;
}

.alignleft .avatar,
.author-box .avatar {
	margin-right: 24px;
}

.alignright .avatar {
	margin-left: 24px;
}

.comment .avatar {
	margin: 0 16px 24px 0;
}

/* ## Genesis
--------------------------------------------- */

// Breadcrumbs
.breadcrumb {

    @include font-size( $font-size-sm );
    color: $text-muted;
	// font-weight: 500;
	margin-bottom: 20px;
    
    
    a {
        text-decoration: none;
    
        &:hover,
        &:focus,
        &:active {
            text-decoration: underline;
        
        }
    }
}







.archive-description,
.author-box {
	font-size: 16px;
	font-size: 1.6rem;
	margin-bottom: 20px;
}

.archive-description p:last-child,
.author-box p:last-child {
	margin-bottom: 0;
}

/* ## Search Form
--------------------------------------------- */

.search-form {
	overflow: hidden;
}

.site-header .search-form {
	float: right;
	margin-top: 12px;
}

.entry-content .search-form,
.site-header .search-form {
	position: relative;
	width: 50%;
}

.entry-content .search-form input[type="search"] {
	padding-right: 75px;
}

.entry-content .search-form input[type="submit"] {
	padding: 7px 20px;
	position: absolute;
	right: 0;
	bottom: 0;
}

.genesis-nav-menu .search input[type="submit"],
.widget_search input[type="submit"] {
	border: 0;
	clip: rect(0, 0, 0, 0);
	height: 1px;
	margin: -1px;
	padding: 0;
	position: absolute;
	width: 1px;
}

input[type="search"] {
	// font-family: $font-family-serif;
    font-family: $font-family-base;

}

.before-header .genesis-nav-menu li.search input[type="search"] {
	background-color: transparent;
	border-color: #fff;
	color: #fff;
	padding: 0 5px;
}

.before-header ::-webkit-input-placeholder {
	color: #fff;
}

.before-header ::-moz-placeholder {
	color: #fff;
}

/* ## Titles
--------------------------------------------- */

.archive-title {
    // h1 element
}

.entry-title {

    // h1 and h2 element
    
    @include font-size( $font-size-h1 );

    a {
    
        text-decoration: none;
    
        &:hover,
        &:focus,
        &:active {
            text-decoration: underline;
        }


    }


} // .entry-title

.content .entry-title {
	text-transform: uppercase;
}


h2.entry-title {
    margin-bottom: 4px;
}

.sidebar .widget-title a {
	color: $text-color;
}


.widget-title {

    @include font-size( $font-size-h4 );
    
	margin-bottom: 20px;
    
    a {
    
        text-decoration: none;

        &:hover,
        &:focus,
        &:active {
            // text-decoration: underline;
        }
    }

}

.home-mid .widget-title {
	text-transform: uppercase;
}

.home-mid-nav .widget-title {
	text-align: center;
}

.bottom-widgets .widget-title,
.footer-widgets .widget-title {
	color: $text-color;
	// font-family: 'Roboto',sans-serif;
	font-size: 16px;
	font-size: 1.6rem;
	font-weight: 500;
}

.bottom-widgets .widget-title {
	border-bottom: 1px solid $text-color;
	padding-bottom: 5px;
}

.comment-respond h3.comment-reply-title,
.entry-comments h3,
.author-box-title {
	color: $text-color;
	font-size: 21px;
	font-size: 2.1rem;
	margin-bottom: 20px;
	text-transform: uppercase;
}

/* ## WordPress
--------------------------------------------- */

a.aligncenter img {
	display: block;
	margin: 0 auto;
}

a.alignnone {
	display: inline-block;
}

.alignleft {
	float: left;
	text-align: left;
}

.alignright {
	float: right;
	text-align: right;
}

a.alignleft,
a.alignnone,
a.alignright {
	max-width: 100%;
}

img.centered,
.aligncenter {
	display: block;
	margin: 0 auto 24px;
}

img.alignnone,
.alignnone {
	margin-bottom: 12px;
}

a.alignleft,
img.alignleft,
.wp-caption.alignleft {
	margin: 0 24px 24px 0;
}

a.alignright,
img.alignright,
.wp-caption.alignright {
	margin: 0 0 24px 24px;
}

img.alignleft,
img.alignright {
	margin-top: 5px;
}

img.centered,
img.alignnone,
img.alignleft,
img.alignright {
	border: 6px solid #e7e9ea;
}

.alignnone img,
.alignleft img,
.alignright img {
	border: 2px solid #e7e9ea;
}

.wp-caption-text {
	font-size: 14px;
	font-size: 1.4rem;
	font-weight: 700;
	text-align: center;
}

.entry-content p.wp-caption-text {
	margin-bottom: 0;
}

.sticky {
}


/* # Widgets
---------------------------------------------------------------------------------------------------- */

.widget {
	word-wrap: break-word;
}

.widget ol > li {
	list-style-position: inside;
	list-style-type: decimal;
	padding-left: 20px;
	text-indent: -20px;
}

.widget li li {
	border: none;
	margin: 0;
	padding: 0;
}

.widget_calendar table {
	width: 100%;
}

.widget_calendar td,
.widget_calendar th {
	text-align: center;
}


.widget_tag_cloud .tagcloud a {
	display: inline-block;
	background-color: #eaecec;
	color: $text-color;
	font-size: 14px !important;
	font-size: 1.4rem !important;
	margin: 0 5px 5px 0;
	padding: 2px 5px;
}

.footer-widgets .widget_tag_cloud .tagcloud a {
	background-color: #fff;
	margin-right: 5px;
}

.footer-widgets .widget_tag_cloud .tagcloud a:hover,
.widget_tag_cloud .tagcloud a:hover {
	background-color: #b7c9d0;
	color: #fff;
}



/* ## Featured Content
--------------------------------------------- */

.featured-content .entry {
	margin-bottom: 10px;
	padding: 0 0 10px;
}

.footer-widgets .entry {
	border-bottom: 1px dotted $border-color;
}

.footer-widgets article:last-child {
	border: 0;
	padding: 0;
}

.featured-content .entry-title {
	// font-family: 'Roboto',sans-serif;
	font-size: 16px;
	font-size: 1.6rem;
	overflow: hidden;
}

.wsmfeaturedpost .entry-header {
	overflow: hidden;
}

.wsmfeaturedpost .entry-header .entry-meta {
	background-color: #b7c9d0;
	border-radius: 8px;
	color: #fff;
	float: left;
	// font-family: $font-family-serif;
    font-family: $font-family-base;
	font-size: 13px;
	font-size: 1.3rem;
	line-height: 1;
	margin: 0 14px 0 0;
	padding: 10px;
	text-align: center;
	text-transform: uppercase;
}

.wsmfeaturedpost .entry-meta b {
	display: block;
	font-size: 23px;
	font-size: 2.3rem;
}

.wsmfeaturedpost .entry-content {
	clear: both;
	display: block;
	padding-top: 10px;
}

/*
Social Media
--------------------------------------------- */

.widget-social a.genericon:before {
	margin-right: 20px;
}

.widget-social a.genericon {
	background-color: $text-color;
	box-sizing: content-box;
	color: #fff;
	font-size: 22px;
	font-size: 2.2rem;
    height: 22px;
    line-height: 1;
	margin: 3px 12px 3px 0;
    overflow: hidden;
    padding: 6px;
    position: relative;
    white-space: nowrap;
    width: 22px;
}

.ie .widget-social a.genericon {
	line-height: 1.2;
}

.widget-social a.genericon:hover {
	background-color: #B7C9D0;
}

.widget-social a:last-child {
	margin-right: 0;
}

.social-custom-text {
	margin-bottom: 10px;
}

.site-header .widget-social .widget-wrap {
	display: inline-block;
	width: auto;
}

.site-header .widget-social .social-custom-text {
	display: inline-block;
	font-size: 14px;
	font-size: 1.4rem;
	padding-right: 30px;
	text-align: center;
}

.ie7 .site-header .widget-social .social-custom-text {
	display: block;
	float: left;
}

/*
Call To Action
--------------------------------------------- */

.cta-box {

    position: relative;
    
    .cta-title {
        color: #fff;
        font-size: 30px;
        font-size: 3rem;
        font-weight: 700;
        left: 20px;
        line-height: 1;
        position: absolute;
        text-transform: uppercase;
        top: 10%;
    } // cta title
 
    .more-link {
        bottom: 30px;
        // font-family: $font-family-serif;
        font-size: 25px;
        font-size: 2.5rem;
        
        @include font-size($font-size-base);
        
        // font-weight: 700;
        left: 20px;
        line-height: 1;
        position: absolute;


        a {
            background-color: #b7c9d0;
            background-color: $button-bg;
            
            // border-radius: 8px;
            color: #fff;
            color: $button-color;
            // padding: 3px 14px;
            padding: 7px 20px;
            
            text-transform: uppercase;
            text-decoration: none;
            
            &:hover,
            &:focus,
            &:active {
	            opacity: 0.8;
            }           
            
            
        } // a



    } // more-link
 
    img {
	    background-color: #EFEFEF;
	    border: 1px solid $border-color;
	    padding: 6px;
    }
    
} // cta box











.sidebar .cta-box .more-link {
	bottom: 22px;
	left: auto;
	right: 10px;
}


/*
WSM Banner
--------------------------------------------- */

h3.banner-title {
	color: #fff;
	display: inline-block;
	// font-family: $font-family-serif;
	font-size: 26px;
	font-size: 2.6rem;
	font-weight: 700;
	line-height: 1;
	margin: 0;
	text-transform: uppercase;
}

.banner-title b {
	display: inline-block;
	font-size: 130px;
	font-size: 13rem;
	font-weight: 700;
}

.banner-title span {
	display: inline-block;
}

.banner-title .percent {
	font-size: 69px;
	font-size: 6.9rem;
}

.banner-box {
	background-position: center;
	border: 5px solid #d6dfe3;
	padding: 20px;
}

.banner-content {
	color: #fff;
	font-size: 24px;
	font-size: 2.4rem;
	line-height: 1.3;
	margin-left: 20%;
}

.wsm-banner .custom-text {
	display: inline-block;
	padding-left: 40px;
}

.wsm-banner .custom-text .more-link {
	clear: both;
	display: block;
	// font-family: 'Roboto',sans-serif;
	font-size: 18px;
	font-size: 1.8rem;
	margin: 20px 0 0;
}

.wsm-banner .custom-text .more-link a {
	border: 1px solid #fff;
	border-radius: 10px;
	color: $text-color;
	display: inline-block;
	padding: 4px 20px;
}

.wsm-banner .custom-text .more-link a:hover {
	color: #fff;
	text-decoration: underline;
}


/* # Plugins
---------------------------------------------------------------------------------------------------- */

/* ## Genesis eNews Extended
--------------------------------------------- */

.enews-widget input {
	font-size: 16px;
	font-size: 1.6rem;
	margin-bottom: 16px;
}

.enews-widget input[type="submit"] {
	margin: 0;
	width: 100%;
}

.enews form + p {
	margin-top: 24px;
}

/* ## Jetpack
--------------------------------------------- */

#wpstats {
	display: none;
}


/* # Skip Links
---------------------------------------------------------------------------------------------------- */
.genesis-skip-link {
	margin: 0;
}

.genesis-skip-link li {
	height: 0;
	width: 0;
	list-style: none;
}

/* Display outline on focus */
:focus {
	color: #333;
	outline: #ccc solid 1px;
}


/* ## Gravity Forms
--------------------------------------------- 

.gform_wrapper .textarea,
div.gform_wrapper select,
div.gform_wrapper input[type="text"],
div.gform_wrapper input[type="url"],
div.gform_wrapper input[type="email"],
div.gform_wrapper input[type="tel"],
div.gform_wrapper input[type="number"],
div.gform_wrapper input[type="password"] {
	font-size: 16px;
	font-size: 1.6rem;
	padding: 7px 8px;
}

div.gform_wrapper span.gform_description {
	font-weight: $font-weight-base;
}

div.gform_wrapper input[type="checkbox"],
div.gform_wrapper input[type="radio"] {
	padding: 0;
}

div.gform_wrapper li.gfield .gfield_label {
	font-weight: 400;
}

div.gform_wrapper ul {
	margin-left: 0;
}

div.gform_wrapper ul li.gfield {
	border: 0;
	margin-bottom: 10px;
	padding-bottom: 0;
}

div.gform_wrapper .gfield_checkbox li input[type="checkbox"],
div.gform_wrapper .gfield_radio li input[type="radio"],
div.gform_wrapper .gfield_checkbox li input {
	margin-top: 6px;
}

div.gform_wrapper .gsection .gfield_label,
div.gform_wrapper h2.gsection_title,
div.gform_wrapper h3.gform_title {
	font-weight: $font-weight-base;
	font-size: 25px;
	font-size: 2.5rem;
	text-transform: uppercase;
}

div.gform_wrapper .gfield_checkbox li label,
div.gform_wrapper .gfield_radio li label {
	display: inline !important;
	margin-left: 10px;
}

div.gform_wrapper .gform_footer {
	padding: 0;
}

div.gform_wrapper form {
	overflow: hidden;
	position: relative;
}

div.gform_wrapper .gform_footer input.button,
div.gform_wrapper .gform_footer input[type="submit"] {
	font-size: 20px;
	font-size: 2rem;
	text-transform: uppercase;
}

div.gform_wrapper.button-right_wrapper .gform_footer {
	bottom: 10px;
	margin: 0;
	position: absolute;
	right: 0;
}

div.gform_wrapper.button-right_wrapper .gform_footer input.button,
div.gform_wrapper.button-right_wrapper .gform_footer input[type="submit"] {
	font-size: 18px;
	font-size: 1.8rem;
}

.ie div.gform_wrapper .gform_footer input[type="submit"] {
	padding: 7px 20px;
}

div.gform_wrapper.button-right_wrapper ul li:last-child {
	max-width: 75%;
}

.sidebar div.gform_wrapper.button-right_wrapper ul li:last-child {
	padding-right: 28%;
	max-width: inherit;
}

div.gform_wrapper .gfield_checkbox li label,
div.gform_wrapper .gfield_radio li label {
	display: inline !important;
	margin-left: 10px;
}

div.gform_wrapper .gfield_checkbox li input[type="checkbox"],
div.gform_wrapper .gfield_radio li input[type="radio"] {
	margin-left: 5px !important;
}

div.gform_wrapper li.gf_list_inline ul.gfield_checkbox li,
div.gform_wrapper li.gf_list_inline ul.gfield_radio li {
	margin-right: 20px;
}

div.gform_wrapper .ginput_complex .ginput_full input[type="text"],
div.gform_wrapper .ginput_complex .ginput_full input[type="url"],
div.gform_wrapper .ginput_complex .ginput_full input[type="email"],
div.gform_wrapper .ginput_complex .ginput_full input[type="tel"],
div.gform_wrapper .ginput_complex .ginput_full input[type="number"],
div.gform_wrapper .ginput_complex .ginput_full input[type="password"] {
	width: 99.2% !important;
}


div.gform_wrapper .ginput_complex .ginput_left input[type="text"],
div.gform_wrapper .ginput_complex .ginput_left input[type="url"],
div.gform_wrapper .ginput_complex .ginput_left input[type="email"],
div.gform_wrapper .ginput_complex .ginput_left input[type="tel"],
div.gform_wrapper .ginput_complex .ginput_left input[type="number"],
div.gform_wrapper .ginput_complex .ginput_left input[type="password"],
div.gform_wrapper .ginput_complex .ginput_left select,
div.gform_wrapper .ginput_complex .ginput_right input[type="text"],
div.gform_wrapper .ginput_complex .ginput_right input[type="url"],
div.gform_wrapper .ginput_complex .ginput_right input[type="email"],
div.gform_wrapper .ginput_complex .ginput_right input[type="tel"],
div.gform_wrapper .ginput_complex .ginput_right input[type="number"],
div.gform_wrapper .ginput_complex .ginput_right input[type="password"],
div.gform_wrapper .ginput_complex .ginput_right select {
	width: 98.5% !important;
}

div.gform_wrapper.gf_browser_gecko ul.gform_fields li.gfield div.ginput_complex span.ginput_left select,
div.gform_wrapper.gf_browser_gecko ul.gform_fields li.gfield div.ginput_complex span.ginput_right select,
div.gform_wrapper.gf_browser_gecko ul.gform_fields li.gfield select {
	margin-left: 0;
}

*/


/*
## WP Table
--------------------------------------------- 

h2.tablepress-table-name {
	font-size: 18px;
	font-size: 1.8rem;
}

table.tablepress thead th,
table.tablepress tfoot th {
    background: #b7c9d0;
	color: $text-color;
	font-weight: 400;
}

table.tablepress tbody td,
table.tablepress tfoot th {
	border-bottom: 1px solid $border-color;
	border-top: none;
	border-right: 1px solid $border-color;
}

table.tablepress {
	border: 1px solid $border-color;
}

span.tablepress-table-description {
    margin-bottom: 16px;
}

table.tablepress .odd td,
table.tablepress .even td {
	background-color: transparent;
}

table.tablepress th,
table.tablepress td {
	padding: 4px 8px;
}

*/


/* # DiggDigg
----------------------------------------------------- 

.dd_button a[data-pin-log="button_pinit"] {
 margin-top: 40px !important;
}


*/


// @import 'theme/woocommerce';







/* ## WP eCommerce bug fix
---------------------------------------------------------- 

.single-wpsc-product .entry-footer {
    display: none;
}

*/

/* ## WP eCommerce
---------------------------------------------------------- */

/* ### Products Pages
-------------------------------------------------------------- 

.entry-content .wrap {
	padding: 0;
}

div.wpsc_container {
	padding: 0;
}

div.default_product_display {
	overflow: hidden;
	padding: 20px 0 0;
}

div.default_product_display h2.prodtitle {
	font-size: 20px;
	font-size: 2rem;
	margin-bottom: 10px;
}

div.default_product_display .imagecol {
	display: block;
	overflow: hidden;
}

div.default_product_display .wpsc_description {
	font-size: 16px;
	font-size: 1.6rem;
	margin: 0 0 10px;
}

div.default_product_display .wpsc_description p:last-child {
	margin: 0;
}

div.default_product_display .additional_description_container {
	margin: 0 0 10px;
}

div.default_product_display a.additional_description_link:link,
div.default_product_display a.additional_description_link:visited {
	color: #9dafb6;
	text-decoration: none;
}

div.default_product_display a.additional_description_link:hover {
	color: $text-color;
}

div.default_product_display .wpsc_variation_forms {
	margin: 0;
}

div.default_product_display form.product_form fieldset {
	margin: 0 0 10px;
}

div.default_product_display .wpsc_quantity_update input {
	width: auto;
}

div.default_product_display form.product_form fieldset legend {
	display: inline-block;
	font-size: 16px;
	font-size: 1.6rem;
	margin: 0 0 5px;
}

div.default_product_display .wpsc_product_price {
	display: block;
	padding: 0;
}

div.default_product_display .wpsc_buy_button_container {
	float: none;
}

div.default_product_display .wpsc_buy_button_container input[type="submit"] {
	background-color: #bdbdbd;
	line-height: 1;
}

div.default_product_display .wpsc_buy_button_container input[type="submit"]:hover {
	background-color: #B7C9D0;
}

div.wpsc_loading_animation {
	display: none;
}

div.default_product_display table,
div.default_product_display tbody,
div.default_product_display tr,
div.default_product_display td {
	border: 0;
}

div.default_product_display .in_stock,
div.single_product_display .in_stock,
div.default_product_display .wpsc_product_price p {
	left: auto;
	margin: 0 0 5px;
}

div.default_product_display .wpsc_product_price p {
	font-weight: 500;
}

div.default_product_display .wpsc_product_price span {
	font-weight: $font-weight-base;
}

div.default_product_display .wpsc_quantity_update {
	margin: 0;
	padding: 0;
}

div#grid_view_products_page_container .item_image img.product_image,
div#default_products_page_container .item_image img.product_image {
	border: 6px solid #e7e9ea;
    -webkit-transition: all 0.2s ease-in-out 0s;
	-moz-transition:    all 0.2s ease-in-out 0s;
	-ms-transition:     all 0.2s ease-in-out 0s;
	-o-transition:     all 0.2s ease-in-out 0s;
	transition:        all 0.2s ease-in-out 0s;
}

div#grid_view_products_page_container .item_image img.product_image:hover,
div#default_products_page_container .item_image img.product_image:hover {
	box-shadow: 0 1px 3px #999;
}

.wpsc-breadcrumbs {
	padding-bottom: 20px;
}

.wpsc-breadcrumbs a {
	font-weight: 500;
}

.entry-content ul.wpsc_categories {
	margin-left: 0;
}

.entry-content ul.wpsc_categories li {
	display: block;
	list-style: none outside none;
	margin: 0 0 6px;
	overflow: hidden;
}

.entry-content ul.wpsc_categories li a.wpsc_category_link  {
	font-weight: 500;
}

.entry-content ul.wpsc_categories .wpsc_subcategory p {
	margin-bottom: 0;
}

.content #list_view_products_page_container ul.wpsc_categories li .wpsc_category_image,
.content #default_products_page_container ul.wpsc_categories li .wpsc_category_image,
.content #grid_view_products_page_container ul.wpsc_categories li .wpsc_category_image {
	float: left;
	height: auto !important;
	margin-right: 10px;
	max-width: 60px;
}

.content #list_view_products_page_container .wpsc_category_details img,
.content #default_products_page_container .wpsc_category_details img,
.content #grid_view_products_page_container .wpsc_category_details img {
	display: block;
	height: auto;
	float: left;
	margin: 0 10px 0 0;
	width: 90px;
}

#fancy_notification {
	left: 50% !important;
	margin-left: -150px !important;
	top: 25% !important;
}

.cart_message {
	display: block !important;
}

*/


/* ### Products List View
-------------------------------------------------------------- 

div#list_view_products_page_container table.list_productdisplay {
	line-height: 1.5;
}

div#list_view_products_page_container table.list_productdisplay td {
	padding: 6px 10px;
}

table.list_productdisplay h2.prodtitle a:link,
table.list_productdisplay h2.prodtitle a:visited {
	color: $text-color;
	text-decoration: none;
}

table.list_productdisplay h2.prodtitle a:hover {
	color: #9dafb6;
}

table.list_productdisplay .wpsc_buy_button_container a.wpsc_buy_button {
	background-color: $text-color;
    border: medium none;
    color: #fff;
    cursor: pointer;
    font-size: 16px;
	font-size: 1.6rem;
    font-weight: 400;
    padding: 7px 20px;
    width: auto;
}

div#list_view_products_page_container table.list_productdisplay form.product_form {
	display: block;
	position: relative;
}

div#list_view_products_page_container input,
div#content #list_view_products_page_container input,
div#list_view_products_page_container textarea,
div#content #list_view_products_page_container textarea {
	padding: 6px 10px;
}

div#list_view_products_page_container .wpsc_buy_button_container {
	display: block;
	margin: 10px 0 0;
}

div#list_view_products_page_container .wpsc_buy_button_container .wpsc_buy_button {
	display: block;
	float: left;
	padding: 7px 10px;
	text-align: center;
	width: 100%;
}

div#list_view_products_page_container .wpsc_buy_button_container .wpsc_buy_button:hover {
	background-color: #B7C9D0;
}

*/

/* ### Products Grid View
-------------------------------------------------------------- 

.entry-content div#grid_view_products_page_container {
	width: 100%;
}

.entry-content div.product_grid_display .product_grid_item {
	box-shadow: none;
}

.entry-content div.product_grid_display .product_grid_item .item_image,
.entry-content div.product_grid_display .product_grid_item .item_no_image {
	margin-bottom: 30px;
	position: relative;
	text-align: center;
}

.entry-content div.product_grid_display .item_image .more-details,
.entry-content div.product_grid_display .product_grid_item .addtocart {
	display: inline-block;
}

.entry-content div.product_grid_display .item_image_link {
	margin-bottom: -50px;
}

.entry-content div.product_grid_display .item_image .more-details a,
.entry-content div.product_grid_display .product_grid_item .addtocart input[type="submit"],
.entry-content div.product_grid_display .product_grid_item .addtocart input.wpsc_buy_button {
	background-color: #bdbdbd;
    background-image: none;
    border: 0 none;
    border-radius: 0;
    box-shadow: none;
    color: #fff;
	font-size: 16px;
	font-size: 1.6rem;
    font-weight: 500;
	line-height: 1;
	margin: 0;
	padding: 6px 10px;
    text-shadow: none;
}

.entry-content div.product_grid_display .item_image .more-details a:hover,
.entry-content div.product_grid_display .product_grid_item .addtocart input[type="submit"]:hover,
.entry-content div.product_grid_display .product_grid_item .addtocart input.wpsc_buy_button:hover {
	background-color: #B7C9D0;
}

.entry-content div.product_grid_display .item_image .more-details {
	margin-left: 5px;
}

.entry-content div.product_grid_display .item_image .more-details a:hover {
	text-decoration: none;
}

.product_grid_display .item_image .more-details a {
	height: auto;
	line-height: inherit;
}

.entry-content .product_grid_display h2.prodtitle {
	line-height: 1.2;
}

.entry-content .product_grid_display h2.prodtitle a,
.product_grid_display h2.prodtitle a {
	// font-family: "Roboto",sans-serif;
    font-size: 16px;
	font-size: 1.6rem;
	text-decoration: none;
}

.entry-content .product_grid_display h2.prodtitle a:link,
.entry-content .product_grid_display h2.prodtitle a:visited {
	color: $text-color;
}

.entry-content .product_grid_display h2.prodtitle a:hover,
.product_grid_display h2.prodtitle a:hover {
	color: #9dafb6;
	text-decoration: none;
}

.entry-content .product_grid_display div.grid_description p {
	font-size: 14px;
	font-size: 1.4rem;
	margin-bottom: 10px;
}

.product_grid_display .grid_product_info .price_container p {
	color: $text-color;
    font-size: 23px;
	font-size: 2.3rem;
    font-weight: $font-weight-base;
	line-height: 1.5;
    margin-bottom: 0;
}

div.product_grid_display span.sale {
    background: url(images/sale-grey.png) no-repeat 0 0 transparent;
}

div#fancy_notification #fancy_notification_content {
	overflow: hidden;
	text-align: center;
}

div#fancy_notification #fancy_notification_content > a {
	background-color: #bdbdbd;
    background-image: none;
    border: 0 none;
    border-radius: 0;
    box-shadow: none;
    color: #fff;
	display: inline-block;
	float: none;
    font-size: 16px;
	font-size: 1.6rem;
    font-weight: 500;
    line-height: 1;
    margin: 0 0 8px;
    padding: 6px 10px;
    text-shadow: none;
}

div#fancy_notification #fancy_notification_content > a:hover {
	background-color: #B7C9D0;
}

div#grid_view_products_page_container .wpsc_page_numbers_top,
div#grid_view_products_page_container .wpsc_page_numbers_bottom {
	display: block;
	margin: 20px 0;
}

div#grid_view_products_page_container .wpsc_page_numbers_top span.current,
div#grid_view_products_page_container .wpsc_page_numbers_top span.current,
div#grid_view_products_page_container .wpsc_page_numbers_bottom span.current,
div#grid_view_products_page_container .wpsc_page_numbers_bottom span.current,
div#grid_view_products_page_container .wpsc_page_numbers_top a:link,
div#grid_view_products_page_container .wpsc_page_numbers_top a:visited,
div#grid_view_products_page_container .wpsc_page_numbers_bottom a:link,
div#grid_view_products_page_container .wpsc_page_numbers_bottom a:visited {
	background: none $text-color;
	border: 0;
	border-radius: 0;
	padding: 8px 10px;
}

div#grid_view_products_page_container .wpsc_page_numbers_top span.current:hover,
div#grid_view_products_page_container .wpsc_page_numbers_top span.current:hover,
div#grid_view_products_page_container .wpsc_page_numbers_bottom span.current:hover,
div#grid_view_products_page_container .wpsc_page_numbers_bottom span.current:hover,
div#grid_view_products_page_container .wpsc_page_numbers_top span.current,
div#grid_view_products_page_container .wpsc_page_numbers_top span.current,
div#grid_view_products_page_container .wpsc_page_numbers_bottom span.current,
div#grid_view_products_page_container .wpsc_page_numbers_bottom span.current {
	background-color: #999;
}

.product_grid_item .addtocart input[type="submit"] {
	-webkit-transition: none;
	-moz-transition: none;
	-ms-transition: none;
	-o-transition: all 0 ease-in;
	transition: none;
}

*/

/* ### Product Page
-------------------------------------------------------------- 

.single_product_display .imagecol {
	margin-right: 0;
	width: 31%;
}

.single_product_display .productcol {
	float: right;
	width: 66%;
}

div.single_product_display .imagecol img.product_image {
	border: 5px solid #e7e9ea;
    box-shadow: none;
	width: 100%;
}

div.single_product_display .product_description,
div.single_product_display .single_additional_description {
	font-size: 16px;
	font-size: 1.6rem;
	line-height: 1.5;
}

div.single_product_display form.product_form fieldset {
	margin: 0 0 20px;
}

div.single_product_display form.product_form fieldset legend {
	margin-bottom: 5px;
}

div.single_product_display form.product_form .quantity-legend {
	display: block;
	float: left;
	margin: 0 8px 0 0;
}

div.single_product_display form.product_form .wpsc_quantity_update {
}

div.single_product_display .wpsc_variation_forms table,
div.single_product_display .wpsc_variation_forms tbody,
div.single_product_display .wpsc_variation_forms table tr,
div.single_product_display .wpsc_variation_forms table td {
	border: 0;
}

div.single_product_display .wpsc_variation_forms table td.col2,
div.single_product_display .wpsc_variation_forms table td.col1 {
	display: inline-table;
	width: auto;
}

div.single_product_display .wpsc_variation_forms table td.col1 label {
	padding-right: 5px;
}

.single_product_display form.product_form .wpsc_quantity_update input {
	line-height: 1.5;
	padding: 6px 10px;
	width: auto;
}

div.single_product_display .wpsc_product_price {
	padding: 0;
}

div.default_product_display .in_stock,
div.single_product_display .in_stock {
	background-position: left center;
	font-weight: 500;
}

.single_product_display .wpsc_product_price span,
.single_product_display .wpsc_product_price span.pricedisplay {
	font-weight: $font-weight-base;
}

.single_product_display .wpsc_product_price span.pricefloatright,
.single_product_display .wpsc_product_price .pricedisplay,
.single_product_display .wpsc_product_price p {
	font-weight: 500;
}

div.single_product_display form.product_form .wpsc_buy_button_container {
	text-align: left;
}

div.product_footer {
	clear: both;
	display: block;
	width: 100%;
}

div.single_product_display form.product_form .wpsc_buy_button_container input[type="submit"],
div.single_product_display form.product_form .wpsc_buy_button {
	background-color: #b7c9d0;
    background-image: none;
    box-shadow: none;
    color: #fff;
	// font-family: $font-family-serif;
    font-size: 25px;
	font-size: 2.5rem;
    font-weight: 700;
	padding: 6px 10px;
    text-transform: uppercase;
}

div.single_product_display form.product_form .wpsc_buy_button_container input[type="submit"]:hover,
div.single_product_display form.product_form .wpsc_buy_button:hover {
	background-color: #C4C9CA;
}

div.single_product_display div.product_footer {
    clear: both;
    display: block;
    float: left;
    height: auto;
	margin-top: 20px !important;
	padding-top: 20px !important;
    width: 100%;
}

.product_footer div.product_average_vote {
    height: inherit;
    left: 0;
    position: static;
    top: 0;
    width: 100%;
}

.product_footer div.product_user_vote {
    height: auto;
    margin: 10px 0 0;
    position: static;
    right: 0;
    top: 0;
    width: 30%;
}

.product_footer div.product_user_vote  input[type="submit"] {
	margin-top: 10px;
}

.product_footer span.votetext {
	height: auto;
}

.productcol .FB_like {
	clear: both;
	display: block;
	padding-top: 20px;
}

*/



/* User Profile  */

.user-profile-links a {
	display: inline-block;
	margin: 0 10px;
}

.user-profile-links a:first-child {
	margin-left: 0;
}



/* Shopping cart 


div.shopping-cart-wrapper .shoppingcart {
	background-color: #F9F9F9;
	border: 1px solid #eaecec;
	padding: 20px;
}

.shopping-cart-wrapper .shoppingcart table {
	margin-bottom: 0;
}

.shopping-cart-wrapper .shoppingcart table .cart-widget-total {
	border-top: 2px solid #000;
}

.shopping-cart-wrapper .shoppingcart tfoot td {
	padding-top: 20px;
}

div.shopping-cart-wrapper .shoppingcart table th {
	text-align: center;
}

div.shopping-cart-wrapper .shoppingcart table th#product {
	text-align: left;
}

div.shopping-cart-wrapper .shoppingcart table tbody td.product-name,
div.shopping-cart-wrapper .shoppingcart table {
	line-height: 1.2;
}

div.shopping-cart-wrapper .shoppingcart table tbody td {
	padding: 5px 2px;
}


div.shopping-cart-wrapper .shoppingcart table {
	line-height: 1.5;
}

div.shopping-cart-wrapper .shoppingcart table tbody td.product-name {
	line-height: 1.5;
}

div.shopping-cart-wrapper .shoppingcart table tbody td.product-name a {
	color: $text-color;
}

div.shopping-cart-wrapper .shoppingcart table tbody td.product-name a:hover {
	color: #9dafb6;
	text-decoration: none;
}

div.shopping-cart-wrapper .shoppingcart .checkout-total .pricedisplay {
	font-weight: 400;
}

div.shopping-cart-wrapper .remove_button {
	background: url(images/delete-14.png) left 4px no-repeat transparent;
	padding: 0;
}

div.shopping-cart-wrapper .shoppingcart #cart-widget-links {
	border: 0;
	padding-top: 10px;
}

div.shopping-cart-wrapper .shoppingcart #cart-widget-links a.gocheckout {
	background-color: $text-color;
    border: none;
    color: #fff;
	padding: 2px 6px;
}

div.shopping-cart-wrapper .shoppingcart #cart-widget-links a.gocheckout:hover {
	background-color: #B7C9D0;
}

div.shopping-cart-wrapper .shoppingcart table .cart-widget-count {
	vertical-align: top;
}


*/

/* # Before Header
---------------------------------------------------------------------------------------------------- */

.before-header {
    background-color: $brand-primary;
	color: #fff;
	text-align: right;

    .wrap {
        padding: 8px 22px;
    }
}


/* # Site Header
---------------------------------------------------------------------------------------------------- */

.site-header {
	background-color: #fff;
    
    .wrap {
    	// padding: 30px 22px;
        padding: 22px;
    }

}


/* ## Title Area
--------------------------------------------- */

.title-area {
	float: left;
	padding: 0;
	// width: 400px;
	width: 360px;
}

.site-title {
	font-family: $font-family-headings;
	font-size: 51px;
	font-size: 5.1rem;
	font-weight: $font-weight-base;
	line-height: 1;
	text-transform: uppercase;
}

.site-title a,
.site-title a:hover {
	color: #333;
}

.site-title a {
	display: block;
	line-height: 1;
}

.header-image .site-title > a {
	/* background: url(images/logo.png) no-repeat left; */
	background: url(images/ebmhlogo.png) no-repeat left;
	
	
	float: left;
	min-height: 40px;
	
	min-height: 112px;
	
	width: 100%;
}

.site-description {
	font-size: 16px;
	font-size: 1.6rem;
	font-weight: $font-weight-base;
	line-height: 1.5;
}

.site-description,
.site-title {
	margin-bottom: 0;
}

.header-image .site-description,
.header-image .site-title {
	display: block;
	text-indent: -9999px;
}

/* ## Widget Area
--------------------------------------------- */

.site-header .widget-area {
	float: right;
	margin-top: 5px;
	text-align: right;
	width: 600px;
}

.site-header .widget-area .widget {
	margin-bottom: 10px;
}

.site-header .widget-area section:last-child {
	margin-bottom: 0;
}

.site-header .widget-area h1,
.site-header .widget-area h2,
.site-header .widget-area h3,
.site-header .widget-area h4,
.site-header .widget-area h5 {
	font-weight: 700;
	line-height: 1;
	margin-bottom: 0;
	text-transform: uppercase;
}

/* # Site Navigation
---------------------------------------------------------------------------------------------------- */

.genesis-nav-menu {
	clear: both;
	font-size: 0;
	line-height: 1;
	width: 100%;
}

.genesis-nav-menu .menu-item {
	display: inline-block;
	// font-family: $font-family-serif;
	font-size: 17px;
	font-size: 1.7rem;
	font-weight: $font-weight-base;
	text-align: left;
}

.genesis-nav-menu .menu-item > a {
	text-transform: uppercase;
}

.ie7 .genesis-nav-menu .menu-item {
	display: block;
	float: left;
}

.genesis-nav-menu a {
	color: $text-color;
	display: inline-block;
	padding: 10px 20px;
	text-align: center;
	-webkit-transition: none;
	-moz-transition:    none;
	-ms-transition:     none;
	-o-transition:     none;
	transition:        none;
    text-decoration: none;
}

.genesis-nav-menu a:hover,
.genesis-nav-menu .current-menu-item > a {
	// font-weight: 700;
}

.genesis-nav-menu a::after,
.genesis-nav-menu .current-menu-item > a::after {
    display:block;
    content:attr(title);
    font-weight:bold;
    height:1px;
    color:transparent;
    overflow:hidden;
    visibility:hidden;
    margin-bottom:-1px;
}

.genesis-nav-menu .sub-menu {
	background: url(images/submenu-bg.png) repeat 0 0 transparent;
	left: -9999px;
	opacity: 0;
	padding-bottom: 10px;
	position: absolute;
	-webkit-transition: opacity .4s ease-in-out;
	-moz-transition:    opacity .4s ease-in-out;
	-ms-transition:     opacity .4s ease-in-out;
	-o-transition:      opacity .4s ease-in-out;
	transition:         opacity .4s ease-in-out;
	width: 320px;
	z-index: 99;
}

.genesis-nav-menu .sub-menu a {
	background-color: transparent;
	border-bottom: 1px solid #e0e6e9;
	font-size: 17px;
	font-size: 1.7rem;
	font-weight: $font-weight-base;
	padding: 8px 0;
	position: relative;
	text-transform: uppercase;
	width: 280px;
}

.genesis-nav-menu .sub-menu .menu-item {
	padding: 0 20px;
}

.genesis-nav-menu .sub-menu .menu-item:hover,
.genesis-nav-menu .sub-menu .current-menu-item {
	background: url(images/sub-menu-arrow.png) no-repeat left center;
}


.genesis-nav-menu .sub-menu .sub-menu {
	margin: -34px 0 0 300px;
}

.genesis-nav-menu .menu-item:hover {
	position: static;
}

.genesis-nav-menu .menu-item:hover > .sub-menu {
	left: auto;
	opacity: 1;
}

.genesis-nav-menu > .first > a {
	padding-left: 0;
}

.genesis-nav-menu > .last > a {
	background-image: none !important;
	border: 0 !important;
	padding-right: 0;
}

.genesis-nav-menu > .right {
	color: #fff;
	float: right;
	list-style-type: none;
	padding: 30px 0;
}

.genesis-nav-menu > .right > a {
	display: inline;
	padding: 0;
}

.genesis-nav-menu > .rss > a {
	margin-left: 48px;
}

.genesis-nav-menu > .search {
	margin-left: 40px;
	padding: 0;
}

/* ## Accessible Menu
--------------------------------------------- */

.menu .menu-item:focus {
	position: static;
}

.menu .menu-item > a:focus + ul.sub-menu,
.menu .menu-item.sfHover > ul.sub-menu {
	left: auto;
	opacity: 1;
}


/* ## Primary Navigation
--------------------------------------------- */

.nav-primary {

	background-color: #fff;


    .genesis-nav-menu {
    
        // border-top: 1px solid #cdd1d2;
        // border-bottom: 1px solid #cdd1d2;
        
        border-top: 1px solid $border-color;
        border-bottom: 1px solid $border-color;
        
        
         a {
            // color: $text-color;
            color: $nav-primary-link-color;
        }


        a:hover,
        a:focus,
        a:active,
        .current-menu-item > a {
            color: $nav-primary-link-hover-color;
        }


    } // .genesis-nav-menu


} // .nav-primary



/* ## Secondary Navigation
--------------------------------------------- */

.nav-secondary .genesis-nav-menu a {
	color: #fff;
}

.nav-secondary .genesis-nav-menu a:hover,
.nav-secondary .genesis-nav-menu .current-menu-item > a,
.nav-secondary .genesis-nav-menu .sub-menu .current-menu-item > a:hover {
	color: #fff;
	font-weight: $font-weight-base;
}

.nav-secondary  .genesis-nav-menu .menu-item {
	font-size: 14px;
	font-size: 1.4rem;
	font-weight: $font-weight-base;
}

.nav-secondary .genesis-nav-menu a {
	padding: 5px 18px;
}

.nav-secondary .genesis-nav-menu .menu-item > a {
	background: url(images/submenu-border.png) no-repeat right center;
	line-height: 1;
}

.nav-secondary .genesis-nav-menu .sub-menu a {
	background-image: none;
	color: #333;
	padding: 8px 0;
}

.nav-secondary .genesis-nav-menu > .search {
	padding-top: 0;
}

.ie7 .nav-secondary .genesis-nav-menu > .search {
	width: 200px;
}

.nav-secondary .genesis-nav-menu .last.cart  a,
.nav-secondary .genesis-nav-menu .cart  a,
.genesis-nav-menu .cart a {
	background: url(images/cart-icon.png) no-repeat right center !important;
	padding-right: 24px;
}

/* ## Navigation toggles
--------------------------------------------- */
.sub-menu-toggle,
.menu-toggle {
	display: none;
	visibility: hidden;
}

/* # Home Page
---------------------------------------------------------------------------------------------------- */

/* ## Home Top
----------------------------------------------------- */

.home-top {
	position: relative;
}

/* ## Slider
--------------------------------------------- */

.home-slider div.soliloquy-container .soliloquy-caption {
	background: url(images/white-line.png) repeat-x 0 center transparent;
	bottom: 32px;
	left: 2%;
	max-width: 96%;
	text-align: center;
}

.home-slider div.soliloquy-container .soliloquy-caption-inside {
	background-color: #fff;
	border: 1px solid $border-color;
	border-radius: 28px;
	color: $text-color;
	display: inline-block;
	font-weight: 400;
	margin: 0 auto;
	max-width: 45%;
	padding: 14px 40px;
	text-align: center;
	text-shadow: none;
	width: auto;
}

div.soliloquy-container h2,
div.soliloquy-container h3,
div.soliloquy-container h4,
div.soliloquy-container h5 {
	font-weight: 700;
	margin-bottom: 0;
	text-transform: uppercase;
}


div.soliloquy-container h2 {
	font-size: 31px;
	font-size: 3.1rem;
}

div.soliloquy-container h3 {
	font-size: 29px;
	font-size: 2.9rem;
}

div.soliloquy-container h4 {
	font-size: 27px;
	font-size: 2.7rem;
}

div.soliloquy-container h5 {
	font-size: 25px;
	font-size: 2.5rem;
}



/* ## Middle Navigation
--------------------------------------------- */

.home-mid-nav .wrap {
	margin-top: 20px;
	position: relative;
	z-index: 500;
}

.home-mid-nav .widget-title {
	background: url(images/white-line.png) repeat-x 0 center;
	font-size: 31px;
	font-size: 3.1rem;
	font-weight: 700;
	left: 4%;
	position: absolute;
	text-align: center;
	text-transform: uppercase;
	top: -120px;
	width: 92%;
}

.home-mid-nav .widget-title span {
	background-color: #fff;
	border: 1px solid $border-color;
	border-radius: 28px;
	display: inline-block;
	padding: 14px 40px;
}

.home-mid-nav .menu {
	clear: both;
    font-size: 0;
    line-height: 1.2;
	text-align: center;
    width: 100%;
}

.home-mid-nav .menu .menu-item {
	display: inline-block;
	// font-family: 'Roboto',sans-serif;
    font-size: 16px;
	font-size: 1.6rem;
    font-weight: 500;
    text-align: center;
	text-transform: uppercase;
}

.ie7 .home-mid-nav .menu .menu-item {
	display: block;
	float: left;
}

.home-mid-nav .menu .menu-item a {
	color: $text-color;
    display: block;
    padding: 15px 24px;
}

.home-mid-nav .menu .menu-item a {
	border-right: 1px solid $border-color;
}

.home-mid-nav .menu .menu-item a:hover {
	color: #43646e;
}

.home-mid-nav .menu li:last-child > a {
	border-right: 0;
}

.menu-description {
	display: block;
	font-weight: $font-weight-base;
	text-transform: none;
}


/* ## CTAs
--------------------------------------------- */

.home-cta {
	overflow: hidden;
	margin: 0 0 40px;
}

.home-cta-left {
	float: left;
	width: 49%;
}

.home-cta-right {
	float: right;
	width: 49%;
}

/* ## Home Mid
--------------------------------------------- */

.home-mid {
	// border-top: 1px solid $border-color;
	// float: left;
	// padding: 30px 0 20px;
	// width: 100%;

    .widget {
        margin-bottom: 20px;
    }

    ul,
    ol {
        margin-bottom: 20px;
        margin-left: 20px;
        
        ul,
        ol {
	        margin-bottom: 0;
        }      
        
    }

}




.home-mid-left {
	float: left;
	width: 48.5%;
}

.home-mid-right {
	float: right;
	width: 48.5%;
}







.home-mid ul li {
	list-style-type: none;
	list-style-image: url(images/bullet-list.png);
	margin: 0 0 6px;
}

.home-mid ol li {
	list-style-type: decimal;
}

.home-mid li:last-child {
	margin-bottom: 0;
}

.home-mid li a {
	// color: $text-color;
}

.home-mid li a:hover {
	// color: #9dafb6;
}



/* # Content Area
---------------------------------------------------------------------------------------------------- */

/* ## Entries
--------------------------------------------- */

.entry {
	margin-bottom: 40px;
	padding: 0;
}

.content .entry {
	background-color: #fff;
}

.entry-content ol,
.entry-content ul {
	line-height: 1.5;
	margin-bottom: 20px;
	margin-left: 20px;
}

.entry-content ol > li {
	list-style-type: decimal;
}

.entry-content ul > li {
	list-style-image: url(images/bullet-list.png);
	list-style-type: none;
    margin-bottom: 5px;
}

.entry-content ol ol,
.entry-content ul ul {
	margin-bottom: 0;
}

.entry-content code {
	background-color: #333;
	color: #ddd;
}

.more-link {
	display: block;
	// font-family: $font-family-serif;
}




.content .entry-content .more-link {
	// color: $text-color;
	text-transform: uppercase;
    text-decoration: none;
    
   &:hover,
   &:focus,
   &:active {
	// color: #9dafb6;
    color: $link-hover-color;
    } 
    
}



/* ## Entry Meta
--------------------------------------------- */


.entry-meta {

}

p.entry-meta {

	margin-bottom: 0;
    
    
    
    
    
}

.entry-header .entry-meta {
    
    @include font-size( $font-size-sm );
	color: $text-muted;
	margin-bottom: 10px;
    
    
    a {
        &:hover,
        &:focus,
        &:active {

        }
    }
    
}





.entry-footer {
	
    clear: both;
	display: block;
    
}

.single .entry-footer {
	background-color: #f2f4f4;
	border-bottom: 1px solid $border-color;
	border-top: 1px solid $border-color;
	color: #545a58;
	padding: 5px 10px;
}

.single .entry-footer .entry-meta {
	display: block;
	overflow: hidden;
}

.entry-footer .entry-meta a {
	// color: #545a58;
    text-decoration: none;
}

.entry-categories,
.entry-tags {
	display: block;
	float: left;
}

.entry-categories {
	margin-left: 30px;
}

.entry-comments-link::before {
	content: " | ";
	margin: 0 6px 0 2px;
}

/* ## Pagination
--------------------------------------------- */

.pagination {
	clear: both;
	margin: 40px 0;
}

.adjacent-entry-pagination {
	margin-bottom: 0;
}

.archive-pagination li {
	display: inline;
}

.archive-pagination li a {
	background-color: $text-color;
	color: #fff;
	cursor: pointer;
	display: inline-block;
	font-size: 16px;
	font-size: 1.6rem;
	padding: 8px 12px;
}

.archive-pagination li a:hover,
.archive-pagination .active a {
	background-color: #b7c9d0;
}

/* ## Comments
--------------------------------------------- */

.comment-respond,
.entry-comments,
.entry-pings {
	margin-bottom: 40px;
}

.comment-header a,
.comment-header {
	color: $text-color;
	font-size: 16px;
	font-size: 1.6rem;
}

.comment-header a:hover {
	color: #9dafb6;
}

li.comment {
	background-color: #f5f5f5;
}

.comment-content {
	clear: both;
}

.comment-list li {
	margin-top: 24px;
	padding: 24px;
}

.comment-list li li {
	border: 2px solid #fff;
}

.comment-respond label {
	display: none;
}

.woocommerce .comment-respond label {
	display: inherit;
}

.entry-comments .comment-author {
	margin-bottom: 0;
}

.entry-pings .reply {
	display: none;
}

.bypostauthor {
}

.form-allowed-tags {
	background-color: #f5f5f5;
	font-size: 16px;
	font-size: 1.6rem;
	padding: 24px;
}

.comment-list .comment-respond {
	margin-top: 30px;
}

.comment-reply a.comment-reply-link {
	background-color: $text-color;
	color: #fff;
	font-size: 14px;
	font-size: 1.4rem;
	padding: 2px 10px;
	text-transform: uppercase;
}

.comment-reply a.comment-reply-link:hover {
	background-color: #b7c9d0;
}


/* # Sidebars
---------------------------------------------------------------------------------------------------- */

.sidebar {
	font-size: 16px;
	font-size: 1.6rem;
}

.sidebar li {
	list-style-image: url(images/bullet-list.png);
	margin-bottom: 6px;
}

.sidebar ul,
.sidebar ol {
	margin-left: 20px;
}

.sidebar li a {
	color: $text-color;
}

.sidebar li a:hover {
	color: #43646e;
}

.sidebar p:last-child,
.sidebar ul > li:last-child {
	margin-bottom: 0;
}

.sidebar .widget {
	background-color: #fff;
	margin-bottom: 40px;
}

.sidebar .widget_recent_comments li,
.widget_recent_comments li {
	list-style: none outside none;
}

.sidebar .widget_recent_comments ul,
.widget_recent_comments ul {
	margin-left: 0;
}

.sidebar .widget_recent_comments a {
	color: #9dafb6;
}

.sidebar .widget-area blockquote {
	padding: 20px;
}


/* ## Bottom Widgets
---------------------------------------------------------------------------------------------------- */

.bottom-widgets {
	margin-bottom: 30px;
}

.bottom-widgets .widget-area {
	width: 22%;
}

.bottom1,
.bottom2 {
	margin-right: 4%;
}

.bottom1,
.bottom2,
.bottom3 {
    float: left;
}

.bottom4 {
	float: right;
}

.bottom-widgets .widget {
	margin-bottom: 20px;
}

.bottom-widgets ul,
.bottom-widgets ol {
	margin-bottom: 20px;
	margin-left: 20px;
}

.bottom-widgets ul ul,
.bottom-widgets ol ol {
	margin-bottom: 0;
}

.bottom-widgets ul li {
	list-style-type: none;
	list-style-image: url(images/bullet-list.png);
	margin: 0 0 6px;
}

.bottom-widgets ol li {
	list-style-type: decimal;
}

.bottom-widgets li:last-child {
	border: 0;
	margin-bottom: 0;
}

.bottom-widgets li a {
	color: $text-color;
}

.bottom-widgets li a:hover {
	color: #9dafb6;
}

/* # Footer Widgets
---------------------------------------------------------------------------------------------------- */

.footer-widgets {
	background-color: #eaecec;
	border-top: 1px solid $border-color;
	clear: both;
	font-size: 14px;
	font-size: 1.4rem;
	padding: 25px 0 0;
}

.footer-widgets,
.footer-widgets a {
	color: $text-color;
}

.footer-widgets a:hover {
	color: #9dafb6;
}

.footer-widgets li {
	border-bottom: 1px dashed $border-color;
	margin-bottom: 6px;
	padding-bottom: 6px;
}

.footer-widgets .widget {
	margin-bottom: 25px;
}

.footer-widgets p:last-child {
	margin-bottom: 0;
}

.footer-widgets-1,
.footer-widgets-2,
.footer-widgets-3,
.footer-widgets-4 {
	width: 22%;
}

.footer-widgets-1,
.footer-widgets-2 {
	margin-right: 4%;
}

.footer-widgets-1,
.footer-widgets-2,
.footer-widgets-3 {
	float: left;
}

.footer-widgets-4 {
	float: right;
}


/* # Site Footer
---------------------------------------------------------------------------------------------------- */

.site-footer {
	background-color: #20221d;
	color: #a3a9aa;
	font-size: 12px;
	font-size: 1.2rem;
	// font-weight: 400;
	line-height: 1.4;
	overflow: hidden;
	padding: 15px 0;
    
    a {
    
        color: $white;
        text-decoration: none;
        
        &:hover,
        &:focus,
        &:active {
            text-decoration: underline;
        }
    }

}

.site-footer p {
	display: block;
	margin-bottom: 0;
}






@import 'theme/woocommerce';


/* # Media Queries
---------------------------------------------------------------------------------------------------- */

@import 'theme/max-width-1200';
@import 'theme/max-width-1028';
@import 'theme/max-width-800';
@import 'theme/max-width-700';
@import 'theme/max-width-480';
@import 'theme/max-width-380';




/* # Eurobase Added
---------------------------------------------------------------------------------------------------- */

.eurobase-home .content .page .entry-title {

	display: none; /* TODO: Change this to screen reader friendly */
}






/* WooCommerce Gallery Styles */
.woocommerce-product-gallery__wrapper div:nth-child(1)
{
   margin-bottom: 10px;
}


/* Limit number of visible thumbnails to 5 on single product gallery, by hiding 6th and greater  */
.woocommerce-product-gallery__wrapper div:nth-child(n+6)
{
   display: none !important;
}






// MAP PRESS Plugin Override
.mapp-layout {

    border: 1px solid $border-color !important;
    margin: 0 0 1.5em !important;
}




/* DEBUG 
body.woocommerce-page div.product form.cart .variations, body.woocommerce-page #content div.product form.cart .variations {
    // background: yellowgreen;
}
div.product-addon {
    // background: pink;
}

.woocommerce-variation-price { background: blue; color: white;}

.single_variation_wrap .single_variation {
	display: block !important;
	background: coral;
	min-height: 50px;
}

.variations_button {
	background: antiquewhite;
}

#product-addons-total {

	background: yellow;
	display: block !important;
	min-height: 50px;
}
*/
