@media only screen and (max-width: 380px) {

	.banner-content {
		margin: 0;
	}

	h3.banner-title {
		font-size: 40px;
		font-size: 4rem;
	}

	.banner-title .percent,
	.banner-title b {
		font-size: inherit;
	}

	.banner-title br {
		display: none;
	}

	.home-mid-nav .widget-title {
		position: static;
		width: 100%;
	}

	.widget-social a.genericon {
		margin-bottom: 10px;
	}

	.sidebar .cta-box .cta-title,
	.cta-box .cta-title {
		font-size: 20px;
		font-size: 2rem;
	}

	.sidebar .cta-box .more-link,
	.cta-box .more-link {
		font-size: 20px;
		font-size: 2rem;
		left: auto;
		right: 15px;
	}

	.widget-social a.genericon {
		margin-right: 5px;
	}

	.content .entry-title {
		clear: both;
		display: block;
	}

	// .tax-it_exchange_tag .it_exchange_prod,
	// .tax-it_exchange_category .it_exchange_prod,
	// .product_grid_display .product_grid_item,
	// .entry-content div.product_grid_display .product_grid_item,
	// div#it-exchange-store .it-exchange-products li:nth-child(3n+3),
	// div#it-exchange-store .it-exchange-products li:nth-child(2n+1),
	// div#it-exchange-store .it-exchange-products li,
	// div#it-exchange-store .it-exchange-products li:nth-child(3n+1),
	div.woocommerce ul.products li.product:nth-child(2n),
	body.woocommerce-page ul.products li.product:nth-child(2n),
	div.woocommerce ul.products li.product,
	body.woocommerce-page ul.products li.product,
    .woocommerce ul.products[class*=columns-] li.product, .woocommerce-page ul.products[class*=columns-] li.product
    {
		// float: none;
        float: none !important;
		margin: 0 auto 20px;
		width: 90%;
        // width: 100%;
        width: 95%;
	}
    

/*
    .woocommerce ul.products[class*=columns-] li.product, .woocommerce-page ul.products[class*=columns-] li.product {
        // width: 48%;
        width: 90%;
        width: 100%;
        
        // float: left;
        float: none !important;
        // clear: both;
        // margin: 0 0 2.992em;
        margin: 0 auto 20px;
    }
*/    
    
    
// WC TABS & PANELS
	div.woocommerce div.product .woocommerce-tabs ul.tabs li a,
	div.woocommerce #content div.product .woocommerce-tabs ul.tabs li a,
	body.woocommerce-page div.product .woocommerce-tabs ul.tabs li a,
	body.woocommerce-page #content div.product .woocommerce-tabs ul.tabs li a
	div.woocommerce div.product .woocommerce-tabs ul.tabs li,
	div.woocommerce #content div.product .woocommerce-tabs ul.tabs li,
	body.woocommerce-page div.product .woocommerce-tabs ul.tabs li,
	body.woocommerce-page #content div.product .woocommerce-tabs ul.tabs li {
		display: block;
        
        // ADDED
        margin: 0;
	}

    // Reduce panel padding
    body.woocommerce-page div.product .woocommerce-tabs .panel {
        padding: 20px 20px 10px 20px;
    }




	div.woocommerce #content div.product div.images,
	div.woocommerce div.product div.images,
	body.woocommerce-page #content div.product div.images,
	body.woocommerce-page div.product div.images {
		max-width: inherit;
		width: 100%;
	}

	.single_product_display .imagecol,
	.single_product_display .productcol {
		float: none;
		width: auto;
	}

	.single_product_display .imagecol {
		margin: 0 auto 20px;
	}

	div.woocommerce table.shop_table,
	body.woocommerce-page table.shop_table {
		display: block;
		overflow: scroll;
		overflow-x:scroll;
		-webkit-overflow-scrolling:touch;
		width: 100%;
	}


// WOOCOMMERCE VARIATIONS
// -------------------------------------------
.woocommerce-variation-price {
    span.price-explanation {
        display:block;
    }
}

// WOOCOMMERCE PRODUCT ADDONS
// -------------------------------------------
/*Grand Total Sum*/
.product-addon-totals dd:nth-child(4) {
    display:block;
    &:after {
        display: block;
        margin-left: 0;
    }
}




	div.gform_wrapper .top_label li.gfield.gf_left_half,
	div.gform_wrapper .top_label li.gfield.gf_right_half,
	div.gform_wrapper .ginput_complex .ginput_left,
	div.gform_wrapper .ginput_complex .ginput_right {
		float: none;
		width: 100%;
	}

/*
	div#it-exchange-cart .it-exchange-cart-item-thumbnail img {
		display: block;
		margin: 0 auto;
		width: 80px;
	}

	div#it-exchange-cart-actions input[type="submit"] {
		display: block;
		float: none;
		margin: 0 0 10px;
		width: 100%;
	}

	div.it-exchange-table-row {
		text-align: center;
	}

	div.it-exchange-table-row div.it-exchange-table-column {
		display: block;
		float: none;
		width: 100% !important;
	}

	div#it-exchange-cart-totals div.it-exchange-table-column-inner {
		font-weight: 500;
	}
*/

	.header-image .site-header .wrap {
		padding-top: 10px;
	}



}