@media only screen and (max-width: 1028px) {

	.title-area {
		/* width: 36%; */
	}

	.nav-primary .genesis-nav-menu a {
		padding: 10px 14px;
	}

	.home-mid-nav .menu .menu-item a {
		padding: 10px 15px;
	}

	.site-header .widget-area {
		/* text-align: center; */
		/* width: 62%; */
		width: auto;
		
	}

/*
	div#list_view_products_page_container .wpsc_buy_button_container .wpsc_buy_button {
		width: auto;
	}
*/    
}