@media only screen and (max-width: 800px) {

	.title-area {
		margin: 0 0 20px;
		
	}

	.header-image .site-title > a {
		background-position: center;
		
		background-size: contain;
	}
	
	.header-image .site-header .wrap {
		padding-top: 22px;
		background-position: center top;
		
		// padding: 0;
		max-width: 100%
	}

	.header-right-text {
		float: none;
		margin: 0 0 20px;
		text-align: center;
		width: 100%;
	}

	.site-header .widget-social {
		max-width: inherit;
		text-align: center;
		width: 100%;
	}

	.home-mid-nav .menu .menu-item {
		margin-bottom: 10px;
	}

	.home-mid-right,
	.home-mid-left {
		float: none;
		width: 100%;
	}

	.site-header .widget-area {
		text-align: center;
	}

	.site-header .widget-area,
	.site-inner,
	.title-area {
		width: 100%;
	}


	.site-header .widget-social .social-custom-text {
		display: block;
		padding: 0;
	}

	.genesis-nav-menu li,
	.site-header ul.genesis-nav-menu,
	.site-header .search-form {
		float: none;
	}

	.genesis-nav-menu,
	.site-description,
	.site-header .title-area,
	.site-header .search-form,
	.site-title {
		text-align: center;
	}

	.site-header .search-form {
		margin: 16px auto ;
	}

	.home-slider div.soliloquy-container .soliloquy-caption-inside {
		max-width: inherit;
	}

	div.soliloquy-container h2 {
		font-size: 26px;
		font-size: 2.6rem;
	}

	div.soliloquy-container h3 {
		font-size: 24px;
		font-size: 2.4rem;
	}

	div.soliloquy-container h4 {
		font-size: 22px;
		font-size: 2.2rem;
	}

	div.soliloquy-container h5 {
		font-size: 20px;
		font-size: 2rem;
	}

	div.woocommerce ul.products li.product,
	body.woocommerce-page ul.products li.product {
		width: 48%;
	}

	div.woocommerce #content div.product div.images,
	div.woocommerce #content div.product div.summary,
	div.woocommerce div.product div.images,
	div.woocommerce div.product div.summary,
	body.woocommerce-page #content div.product div.images,
	body.woocommerce-page #content div.product div.summary,
	body.woocommerce-page div.product div.images,
	body.woocommerce-page div.product div.summary {
		float: left;
		width: 48%;
	}


	div.woocommerce #content div.product div.summary,
	div.woocommerce div.product div.summary,
	body.woocommerce-page #content div.product div.summary,
	body.woocommerce-page div.product div.summary {
		float: right;
	}

	.genesis-nav-menu li.right {
		display: none;
	}

	div.gform_wrapper.button-right_wrapper .gform_footer {
		max-width: inherit;
	}

	div.gform_wrapper.button-right_wrapper ul li:last-child {
		max-width: 80%;
	}

	.widget-area blockquote {
		margin-bottom: 60px;
	}

	.wsm-banner .custom-text {
		padding-left: 0;
	}

	.banner-title b {
		font-size: 100px;
		font-size: 10rem;
	}

	.sidebar .cta-box .cta-title {
		font-size: 20px;
		font-size: 2rem;
	}

	.sidebar .cta-box .more-link {
		font-size: 20px;
		font-size: 2rem;
		left: auto;
		right: 15px;
	}

	div.gform_wrapper .chzn-container {
		width: 100%;
	}

	.footer-widgets-1,
	.footer-widgets-2,
	.footer-widgets-3,
	.footer-widgets-4,
	.bottom-widgets .widget-area {
		width: 48%;
	}

	.footer-widgets-1,
	.footer-widgets-3,
	.bottom1,
	.bottom3 {
		clear: both;
		float: left;
		margin: 0 0 20px;
	}

	.footer-widgets-2,
	.footer-widgets-4,
	.bottom2,
	.bottom4 {
		float: right;
		margin: 0 0 20px;
	}

	table.tablepress-responsive-tablet {
		border: 0;
	}

	table.tablepress-responsive-tablet tbody tr {
		margin-left: -4px;
	}

	table.tablepress-responsive-tablet tbody {
		border-top: 1px solid $border-color;
	}

	table.tablepress-responsive-tablet thead {
		border-bottom: 1px solid $border-color;
		padding-bottom: 1px;
	}

    // STACK COLUMNS
    // -------------------------------------
	.five-sixths,
	.four-sixths,
	.four-fifths,
	.one-fifth,
	.one-fourth,
	.one-half,
	.one-sixth,
	.one-third,
	.three-fourths,
	.three-fifths,
	.three-sixths,
	.two-fourths,
	.two-fifths,
	.two-sixths,
	.two-thirds {
		margin: 0;
		width: 100%;
	}

	.copyright,
	.credit {
		float: none;
		text-align: left;
		width: 100%;
	}

	.site-footer p {
		margin: 0 0 10px;
	}

}