@media only screen and (max-width: 1200px) {

	.before-header .wrap,
	.site-header .wrap,
	.wrap {
		max-width: 96%;
		padding-left: 0;
		padding-right: 0;
	}

	.content {
		width: 65%;
	}


	.sidebar {
		width: 30%;
	}

	.content-sidebar .content-sidebar-wrap {
		background-position: 67% 0;
	}

	.sidebar-content .content-sidebar-wrap {
		background-position: 32% 0;
	}

}