@media only screen and (max-width: 480px) {

	.home-cta-left,
	.home-cta-right {
		float: none;
		margin: 0 auto 20px;
		width: 90%;
	}

	.cta-box .cta-title {
		font-size: 27px;
		font-size: 2.7rem;
	}

	.cta-box .more-link {
		font-size: 25px;
		font-size: 2.5rem;
		left: 15px;
		right: auto;
	}

	.home-cta-right {
		margin-bottom: 0;
	}

	.home-mid-nav .widget-title {
		font-size: 20px;
		font-size: 2rem;
		top: -100px;
	}

	.home-mid-nav .widget-title span {
		padding: 8px 30px;
	}

	div.woocommerce #content div.product div.images,
	div.woocommerce #content div.product div.summary,
	div.woocommerce div.product div.images,
	div.woocommerce div.product div.summary,
	body.woocommerce-page #content div.product div.images,
	body.woocommerce-page #content div.product div.summary,
	body.woocommerce-page div.product div.images,
	body.woocommerce-page div.product div.summary {
		float: none;
		width: 100%;
	}

	div.woocommerce #content div.product div.images,
	div.woocommerce div.product div.images,
	body.woocommerce-page #content div.product div.images,
	body.woocommerce-page div.product div.images {
		margin: 0 auto 20px;
		width: 80%;
	}

	body.woocommerce-page div.product div.images img,
	body.woocommerce-page #content div.product div.images img {
		display: block;
		margin: 0 auto;
		max-width: 100%;
		width: auto;
	}

	.footer-widgets-1,
	.footer-widgets-2,
	.footer-widgets-3,
	.footer-widgets-4,
	.bottom-widgets .widget-area {
		float: none;
		margin: 0 0 20px;
		width: 100%;
	}



// WOOCOMMERCE VARIATIONS
// -------------------------------------------
.woocommerce-variation-price {
    span.price-explanation {
        display:block;
    }
}

// WOOCOMMERCE PRODUCT ADDONS
// -------------------------------------------
/*Grand Total Sum*/
.product-addon-totals dd:nth-child(4) {
    display:block;
    &:after {
        display: block;
        margin-left: 0;
    }
}





}