@media only screen and (max-width: 700px) {


	.header-image .site-header .wrap {
		padding: 22px 0 0 0;
	}

	.content,
	.sidebar-primary,
	.site-header .widget-area,
	.site-inner,
	.title-area {
		width: 100%;
	}

	.home-slider .wrap {
		max-width: 100%;
	}

	.sidebar-content .content-sidebar-wrap,
	.content-sidebar .content-sidebar-wrap {
		background: none;
	}

	.home-mid-nav .menu .menu-item a {
		border: 0;
	}

	.entry-categories,
	.entry-tags {
		float: none;
		margin: 0;
		width: 100%;
	}

	div#checkout_page_container table.checkout_cart td.wpsc_product_quantity form.qty input[type="text"],
	table.checkout_cart td.wpsc_product_quantity form.qty input[type="text"] {
		margin: 0 0 5px;
		width: 100%;
	}


	// table.wpsc_checkout_table_totals,
	.content #checkout_page_container table.checkout_cart,
	div#list_view_products_page_container table.list_productdisplay {
		display: block;
		overflow: scroll;
		width: 100%;
	}

    /*
	.content #checkout_page_container table.wpsc_checkout_table_totals {
		overflow: hidden;
	}
    */

	.cta-box {
        .cta-title {
		    font-size: 20px;
    		font-size: 2rem;
    	}

        .more-link {
    		font-size: 20px;
    		font-size: 2rem;
    		left: auto;
    		right: 15px;
    	}
    }

	.sidebar .cta-box {
        .cta-title {
    		font-size: 27px;
    		font-size: 2.7rem;
    	}

        .more-link {
    		font-size: 25px;
    		font-size: 2.5rem;
    		left: 15px;
    		right: auto;
    	}
    }

	.widget_product_search form #s {
		max-width: inherit;
	}

	.sidebar div.gform_wrapper.button-right_wrapper ul li:last-child {
		padding-right:18%;
	}

	// Responsive Navigation

	nav.nav-primary {
		background-color: $text-color;
		display: block !important;
	}

	nav.nav-primary .wrap {
		max-width: 100%;
	}

	.menu-toggle,
	.sub-menu-toggle {
		border-radius: 0;
		display: block;
		font-size: 20px;
		font-size: 2rem;
		font-weight: 700;
		margin: 0;
		overflow: hidden;
		padding: 10px;
		text-align: center;
		visibility: visible;
	}

	button.menu-toggle,
	button.sub-menu-toggle {
		color: #fff;
	}

	.menu-toggle {
		background-color: #b7c9d0;
	}

	.menu-toggle:hover {
		background-color: #c4c9ca;
	}

	button.sub-menu-toggle {
		background-color: transparent;
		padding: 10px 8px;
		position: absolute;
		right: 0;
		top: 0;
	}


	.menu-toggle:before {
		content: "\f419";
		font-family: 'Genericons';
	}

	.menu-toggle:hover:before {
		content: "\f419";
		font-family: 'Genericons';
	}

	.menu-toggle.activated:before {
		content: "\f50e";
		font-family: 'Genericons';
	}

	.sub-menu-toggle:before {
		color: #5D5E5E;
		content: "\f510";
		font-family: 'Genericons';
	}

	.sub-menu-toggle.activated:before {
		color: #5D5E5E;
		content: "\f50e";
		font-family: 'Genericons';
	}

	nav.nav-primary {
		display: none;
		position: relative;
	}

	.nav-primary .genesis-nav-menu {
		display: none;
	}

	.nav-primary .genesis-nav-menu .menu-item {
		background-color: #fff;
		color: #5D5E5E;
		display: block;
		position: relative;
		text-align: left;
	}

	.nav-primary .genesis-nav-menu .menu-item.first a,
	.nav-primary .genesis-nav-menu .menu-item.last a {
		padding: 10px 24px;
	}

	.nav-primary .genesis-nav-menu .menu-item a {
		background-color: #fff;
		border: 0;
		border-bottom: 1px solid $border-color;
		color: #5D5E5E;
	}

	.nav-primary a:hover,
	.nav-primary .current-menu-item > a,
	.nav-primary .genesis-nav-menu .menu-item a:hover {
		background-color: #b7c9d0;
		color: #FFF;
	}


	.nav-primary .genesis-nav-menu .menu-item:hover {
		position: relative;
	}

	.nav-primary .genesis-nav-menu .sub-menu {
		background: none;
		clear: both;
		display: none;
		opacity: 1;
		padding: 0;
		position: static;
		width: 100%;
	}

	.nav-primary .genesis-nav-menu .sub-menu .menu-item {
		padding: 0;
	}

	.nav-primary .genesis-nav-menu .sub-menu a {
		background-color: #e7e9ea;
		border-left: 0;
		padding: 10px 24px;
		position: relative;
		width: auto;
	}

	.nav-primary .genesis-nav-menu .sub-menu .sub-menu {
		margin: 0;
	}

	.nav-primary .genesis-nav-menu .sub-menu .sub-menu a {
		background-color: #f1f1f1;
		padding-left: 30px;
	}

	.nav-primary .genesis-nav-menu .sub-menu .sub-menu .sub-menu a {
		background-color: #f7f7f7;
		padding-left: 40px;
	}

}