// Colours
// -----------------------------------------------*/


// Theme
// -----------------------------------*/
$theme-blue: #3c5a99;
$theme-orange: #F78F1E;

// Brand primary
// -----------------------------------*/
$brand-primary:       $theme-blue;

// $brand-primary-light: $google-teal-300;
// $brand-primary-light:  lighten($brand-primary, 15%);
$brand-primary-light:  lighten($brand-primary, 20%);



// $brand-primary-dark:  $google-teal-900;
$brand-primary-dark:  darken($brand-primary, 15%);




// Brand accent
$brand-accent:       $theme-orange;
/* $brand-accent-light: $google-deep-purple-A100;
$brand-accent-dark:  $google-deep-purple-A700;
// -----------------------------------*/

/*// Contextual
// -----------------------------------*/

$brand-success: $google-green-500;
$brand-info:    $google-blue-500;
$brand-warning: $google-orange-500;
$brand-danger:  $google-red-500;


// Body
// -----------------------------------*/
$body-bg:    $white;
$text-color: #646464; // Jessica #20221d

// $text-muted: $google-grey-500;
$text-muted: #8d9495;


// Borders
// -----------------------------------*/
// $border-color: #d8dbdc;

$border-color: rgba(0,0,0,.2);

$border-color: rgba(0,0,0,.1);



// Selected text
// -----------------------------------*/
$selection-bg:    $black;
$selection-color: $white;



// LINKS
// -----------------------------------------------*/

// Link default
$link-color: $brand-primary;
$link-decoration: none;
$link-decoration: underline;
$link-image-opacity: 1;

// Link hover, focus, active
// $link-hover-color: $brand-primary-dark;
$link-hover-color: $brand-accent;

$link-hover-decoration: underline;
$link-hover-decoration: none;
$link-hover-image-opacity: .9;




// FONTS
// -----------------------------------------------*/

// Font Families
$font-family-serif: "Roboto Slab", serif;
$font-family-cursive: cursive;
$font-family-monospace: $monospace;
$font-family-sans-serif: "Verdana", sans-serif;

$font-family-base: $font-family-sans-serif;

// Font sizes
$font-size-xl:   20px; // xl
$font-size-lg:   18px; // lg
$font-size-base: 16px; // base
$font-size-sm:   14px; // sm
$font-size-xs:   12px; // xs
$font-size-xxs:  10px; // xxs


// Headings
$font-size-h1: 27px;
$font-size-h2: 25px;
$font-size-h3: 23px;
$font-size-h4: 21px;
$font-size-h5: 19px;
$font-size-h6: 16px;

// Font weights
$font-weight-light: 200;
$font-weight-base: 300;
$font-weight-bold: bold;


// Line height
// $line-height-base: 1.5;
$line-height-base: 1.618;


// Letter spacing
$letter-spacing-base: normal;


// Headings line 244
$headings-color: inherit;
$headings-color: #313131;

// $font-family-headings: $font-family-serif;
$font-family-headings: $font-family-base;
$font-weight-headings: $font-weight-base;
$line-height-headings: 1.4;
$headings-margin-bottom: .5em;
// $headings-margin-bottom: 10px;


// BUTTONS
// -----------------------------------------------*/

// Default Button
// -----------------------------------*/

$button-bg: $brand-primary;
$button-color: $white;
$button-border-color: $button-bg;

$button-hover-bg:  $brand-primary-light;
$button-hover-color: $white;
$button-hover-border-color: $button-border-color;

$button-border-width: 1px;
$button-border-radius: 0;
$font-family-button: $font-family-sans-serif;
$font-weight-button: $font-weight-base;
$button-text-transform: none; // none | uppercase | capitalize | lowercase





// Primary Button
// -----------------------------------*/

$button-primary-bg:           $brand-primary;
$button-primary-color:        $white;
$button-primary-border-color: $brand-primary;

$button-primary-hover-bg:           $brand-primary-light;
$button-primary-hover-color:        $button-primary-color;
$button-primary-hover-border-color: $button-primary-border-color;

$button-primary-border-width:   $button-border-width;
$button-primary-border-radius:  $button-border-radius;
$font-weight-button-primary:    $font-weight-button;
$button-primary-text-transform: none; // none | uppercase | capitalize | lowercase

// Secondary Button
// ----------------------------*/

$button-secondary-bg:           $white;
$button-secondary-color:        $text-muted;
$button-secondary-border-color: $border-color;

$button-secondary-hover-bg:           darken($button-secondary-bg, 15%);
$button-secondary-hover-color:        $button-secondary-color;
$button-secondary-hover-border-color: $button-secondary-border-color;

$button-secondary-border-width:   $button-border-width;
$button-secondary-border-radius:  $button-border-radius;
$font-weight-button-secondary:    $font-weight-light;
$button-secondary-text-transform: none; // none | uppercase | capitalize | lowercase


// Contextual Buttons
// ----------------------------*/
$button-success-bg:	$brand-success;
$button-info-bg:    $brand-info;
$button-warning-bg: $brand-warning;
$button-danger-bg:  $brand-danger;


// Button sizes
// ----------------------------*/
$button-padding:    8px 16px;
$button-lg-padding: 10px 16px;
$button-sm-padding: 5px 10px;
$button-xs-padding: 2px 6px;

$button-border-radius-small: 0px;






// NAVIGATION line 422
$nav-primary-link-color: $theme-blue;
$nav-primary-link-hover-color: $theme-orange;