/*
## WooCommerce
--------------------------------------------- */


/* Store Page -------------------------- */

.woocommerce.tax-product_tag .term-description,
.woocommerce.tax-product_tag h1.page-title,
.woocommerce.tax-product_cat .term-description,
.woocommerce.tax-product_cat h1.page-title {
	display: none;
}

h1.page-title {
	margin-bottom: 40px;
	text-transform: uppercase;
}

body.woocommerce-page {

    ul.products {
    
        border-bottom: 1px solid $border-color;
        
       li.product {
       
	        padding-bottom: 20px;
        	position: relative;
        	text-align: center;
        	width: 29%;     
            
            a img {
	            border: 6px solid #e7e9ea;
            	box-shadow: none;
            	margin-bottom: 4px;
            } 
            
            h2.woocommerce-loop-product__title,
            h3 {
                @include font-size ($font-size-xl);
            	padding-bottom: 0;
            }
 
            .price {
                @include font-size ($font-size-base);
                font-weight: $font-weight-base;
                margin-bottom: 0;
                color: $text-color;
                
                ins {
                    text-decoration: none;
                }
            }
 
            .button,
            .button-details {
                margin-right: 10px;
            	margin-top: 0;
            	padding: 6px 10px;
            }

        } // li.product
 

        mark {
            background: transparent;
        }


    } //ul.products


    span.onsale {
        background-image: none;
        background-color: $text-color;
        box-sizing: content-box;
        box-shadow: none;
        border: 0;
        color: #fff;
        // font-weight: 500;
        text-shadow: none;
    }

} // body.woocommerce-page









body.tax-product_cat.woocommerce-page ul.products li.product h2.woocommerce-loop-product__title,
body.tax-product_cat.woocommerce-page ul.products li.product h3 {
	padding: 25px 0 0;
	padding: 0;
}



div.woocommerce #respond input#submit.alt,
div.woocommerce a.button.alt,
div.woocommerce button.button.alt,
div.woocommerce input.button.alt,
body.woocommerce-page a.button,
body.woocommerce-page button.button,
body.woocommerce-page input.button,
body.woocommerce-page #respond input#submit,
body.woocommerce-page #content input.button {
	background-image: none;
	background-color: #bdbdbd;
    background-color: $button-bg;
    
	border-radius: 0;
	box-shadow: none;
	border: 0;
	color: #fff;
    color: $button-color;
    
	// font-weight: 500;
	text-shadow: none;
}

div.woocommerce #respond input#submit.alt:hover,
div.woocommerce a.button.alt:hover,
div.woocommerce button.button.alt:hover,
div.woocommerce input.button.alt:hover,
body.woocommerce-page a.button:hover,
body.woocommerce-page button.button:hover,
body.woocommerce-page input.button:hover,
body.woocommerce-page #respond input#submit:hover,
body.woocommerce-page #content input.button:hover {
	background-image: none;
	// background-color: #b7c9d0;
    background-color: $button-hover-bg;
	border-radius: 0;
	box-shadow: none;
	border: 0;
	color: #fff;
    color: $button-hover-color;
    
	// font-weight: 500;
	text-shadow: none;
}

body.woocommerce-page nav.woocommerce-pagination,
body.woocommerce-page #content nav.woocommerce-pagination {
    float: right;
    max-width: 75%;
    text-align: right;
}

.woocommerce a.added_to_cart, .woocommerce-page a.added_to_cart {
    bottom: 0;
    display: inline-block;
    left: 0;
    padding-top: 0.5em;
    position: absolute;
    white-space: nowrap;
    width: 100%;
}

body.woocommerce-page a.button.added,
body.woocommerce-page button.button.added,
body.woocommerce-page input.button.added,
body.woocommerce-page #respond input#submit.added,
body.woocommerce-page #content input.button.added {
	padding-right: 30px;
}

body.woocommerce-page a.button.added:before,
body.woocommerce-page button.button.added:before,
body.woocommerce-page input.button.added:before,
body.woocommerce-page #respond input#submit.added:before,
body.woocommerce-page #content input.button.added:before {
	right: 5px;
}

body.woocommerce-page .products .star-rating {
	margin: 0 auto;
}



/* Product Page -------------------------- */

body.single-product .breadcrumb {
	margin-bottom: 40px;
}

body.woocommerce-page #content div.product div.images,
body.woocommerce-page div.product div.images {
	width: 31%;
}

body.woocommerce-page div.product div.images img,
body.woocommerce-page #content div.product div.images img {
	border: 5px solid #e7e9ea;
	box-shadow: none;
}

body.woocommerce-page div.product div.images .thumbnails img,
body.woocommerce-page #content div.product div.images .thumbnails img {
	border: 1px solid $border-color;
	max-width: 75px;
}

body.woocommerce-page #content div.product div.thumbnails a,
body.woocommerce-page div.product div.thumbnails a {
	width: auto;
}

body.woocommerce-page #content div.product div.summary,
body.woocommerce-page div.product div.summary {
	width: 66%;
}

body.woocommerce-page div.product .product_title,
body.woocommerce-page #content div.product .product_title {
	// font-family: 'Roboto',sans-serif;
	font-size: 28px;
	font-size: 2.8rem;
	margin-bottom: 0;
}

body.woocommerce-page div.product p.price,
body.woocommerce-page #content div.product span.price,
body.woocommerce-page #content div.product p.price {

    // background: purple;
	color: $text-color;
	
    // font-size: 28px;
	// font-size: 2.8rem;
    
    @include font-size($font-size-lg);
    
    
	line-height: 1;
	text-decoration: none;
    
    ins {
        text-decoration: none;
    }
}



// WOOCOMMERCE VARIATIONS
// -------------------------------------------
.woocommerce-variation {

    margin-bottom: 1.5em;
}


.woocommerce-variation-price {

    span.price-explanation {
        color: $text-muted;
        @include font-size( $font-size-sm );

    }

}

.woocommerce div.product p.price,
.woocommerce div.product span.price {

    color: $text-color;
    @include font-size($font-size-h3);
}















body.woocommerce-page button.button.alt,
body.woocommerce-page input.button.alt,
body.woocommerce-page #respond input#submit.alt,
body.woocommerce-page #content input.button.alt {
	background-image: none;
	background-color: #b7c9d0;
	box-shadow: none;
	color: #fff;
	padding: 6px 10px;
	text-shadow: none;
}

body.woocommerce-page a.button.alt:hover,
body.woocommerce-page button.button.alt:hover,
body.woocommerce-page input.button.alt:hover,
body.woocommerce-page #respond input#submit.alt:hover,
body.woocommerce-page #content input.button.alt:hover {
	background-image: none;
	background-color: #c4c9ca;
	box-shadow: none;
	text-shadow: none;
}

body.woocommerce-page div.product form.cart .button,
body.woocommerce-page #content div.product form.cart .button {
	// font-family: $font-family-serif;
	font-size: 25px;
	font-size: 2.5rem;
	// font-weight: 700;
	text-transform: uppercase;
}

body.woocommerce-page .quantity input.qty,
body.woocommerce-page #content .quantity input.qty {
	border-radius: 0;
	height: 36px;
}

body.woocommerce-page .quantity .plus,
body.woocommerce-page .quantity .minus,
body.woocommerce-page #content .quantity .plus,
body.woocommerce-page #content .quantity .minus {
	background-image: none;
	background-color: #c4c9ca;
	box-shadow: none;
	border-radius: 0;
	color: #fff;
	height: 18px;
	text-shadow: none;
}

body.woocommerce-page .summary .product_meta > span {
	color: #9dafb6;
	display: block;
}

body.woocommerce-page .summary .product_meta b {
	color: $text-color;
}

body.woocommerce-page .summary .product_meta a {
	// font-weight: 300;
}

body.woocommerce-page #content div.product div.summary ol,
body.woocommerce-page div.product div.summary ol,
body.woocommerce-page #content div.product div.summary ul,
body.woocommerce-page div.product div.summary ul {
	margin-bottom: 20px;
	margin-left: 20px;
}

body.woocommerce-page #content div.product div.summary ol ol,
body.woocommerce-page div.product div.summary ol ol,
body.woocommerce-page #content div.product div.summary ul ul,
body.woocommerce-page div.product div.summary ul ul {
	margin-bottom: 0;
}

body.woocommerce-page #content div.product div.summary li,
body.woocommerce-page div.product div.summary li {
	list-style-type: none;
	list-style-image: url(images/bullet-list.png);
}

body.woocommerce-page div.product form.cart td,
body.woocommerce-page #content div.product form.cart td,
body.woocommerce-page div.product form.cart table tbody,
body.woocommerce-page #content div.product form.cart table tbody {
	border: 0;
}

body.woocommerce-page div.product form.cart .variations,
body.woocommerce-page #content div.product form.cart .variations {
	// margin: 0;
    margin: 0 0 1em;
}

body.woocommerce-page div.product form.cart .button,
body.woocommerce-page #content div.product form.cart .button {
	// float: right;
    float:none;
}

body.woocommerce-page #reviews #comments ol.commentlist li .comment-text {
	margin: 0 0 0 70px;
}

body.woocommerce-page #reviews #comments ol.commentlist li img.avatar {
	height: auto;
	width: 60px;
}

body.woocommerce-page #content div.product div.thumbnails a,
body.woocommerce-page div.product div.thumbnails a {
	margin-bottom: 12px;
}

body.woocommerce div.product div.images .woocommerce-product-gallery__wrapper {
	margin: 0;
}

body.woocommerce div.product div.images .flex-control-thumbs li {
	margin: 5px 0;
}

/* woocommerce-tabs
----------------------------- */

body.woocommerce-page div.product .woocommerce-tabs ul.tabs {
	border-bottom: 1px solid $border-color;
	margin: 0;
	padding: 0;
}

body.woocommerce-page div.product .woocommerce-tabs ul.tabs li {
	box-shadow: none;
	border: none;
	border-radius: 0;
}

body.woocommerce-page div.product .woocommerce-tabs ul.tabs li:after,
body.woocommerce-page div.product .woocommerce-tabs ul.tabs li:before,
body.woocommerce-page div.product .woocommerce-tabs ul.tabs:before,
body.woocommerce-page div.product .woocommerce-tabs ul.tabs li:after,
body.woocommerce-page div.product .woocommerce-tabs ul.tabs li.active:after,
body.woocommerce-page div.product .woocommerce-tabs ul.tabs li:before,
body.woocommerce-page div.product .woocommerce-tabs ul.tabs li:after {
	display: none;
}

body.woocommerce-page div.product .woocommerce-tabs ul.tabs li {
	
    background: none #FFF;
    
    // background: none red;
    
    
	border: 1px solid $border-color;
	border-bottom: none;
	border-radius: 0;
	color: #231f20;
    
    // color: red; // not showing
    
    
	font-size: 14px;
	font-size: 1.4rem;
	margin: 0 10px 0 0;
	padding: 0;
}

body.woocommerce-page div.product .woocommerce-tabs ul.tabs li a {
	
    background-color: #eaecec;
	
    //color: #818888;
    
    background-color: $button-hover-bg;
    color: $button-hover-color;
    
    
	// font-weight: 300;
	padding: 6px 20px;
	text-shadow: none;
}

body.woocommerce-page div.product .woocommerce-tabs ul.tabs li a:hover,
body.woocommerce-page div.product .woocommerce-tabs ul.tabs li.active a {
	background-color: #c4c9ca;
	color: #fff;
    
    background-color: $button-bg;
	color: $button-color;

    
    
}

body.woocommerce-page div.product .woocommerce-tabs .panel {
	border: 0;
	border-radius: 0;
	padding: 30px 0;
    
    // ADDED
    border-left: 1px solid $border-color;
    border-right: 1px solid $border-color;
    border-bottom: 1px solid $border-color;
    padding: 30px 30px 10px 30px;
}

body.woocommerce-page table.shop_attributes td {
	font-style: normal;
}

body.woocommerce-page #reviews #comments ol.commentlist li {
	list-style-type: none;
}


/* woocommerce Message box
------------------------------------ */

body.woocommerce-page .woocommerce-message:before,
body.woocommerce-page .woocommerce-info:before,
body.woocommerce-page .woocommerce-error:before,
body.woocommerce-page .woocommerce-message:before,
body.woocommerce-page .woocommerce-info:before {
	background-color: #b7c9d0;
}

body.woocommerce-page .woocommerce-error,
body.woocommerce-page .woocommerce-message,
body.woocommerce-page .woocommerce-info {
	border-color: #b7c9d0;
}

div.woocommerce .woocommerce-error,
body.woocommerce-page .woocommerce-error {
	margin-left: 0;
}


/* woocommerce Carts
----------------------------- */

body.woocommerce-page table.cart input,
body.woocommerce-page #content table.cart input {
	vertical-align: top;
}

div.woocommerce .cart-collaterals .cart_totals table th,
body.woocommerce-page .cart-collaterals .cart_totals table th {
	width: 50%;
}

body.woocommerce-page .cart-collaterals .cart_totals table td,
body.woocommerce-page .cart-collaterals .cart_totals table th {
	text-align: right;
}

div.woocommerce .cart-collaterals .shipping_calculator,
body.woocommerce-page .cart-collaterals .shipping_calculator {
	text-align: right;
}

body.woocommerce-page table.cart td.actions .coupon .input-text,
body.woocommerce-page #content table.cart td.actions .coupon .input-text {
	box-shadow: none;
	padding: 7px;
	vertical-align: middle;
	width: auto;
}


/* woocommerce Checkout
----------------------------- */

body.woocommerce-page #payment ul.payment_methods li {
	list-style: none outside none;
}

/* woocommerce Widgets
----------------------------- */

.widget.woocommerce ul.cart_list li,
.widget.woocommerce ul.product_list_widget li,
body.woocommerce-page ul.cart_list li,
body.woocommerce-page ul.product_list_widget li {
	border-bottom: 1px solid $border-color;
	// font-weight: 300;
	margin-bottom: 6px;
	min-height: 65px;
	padding: 0 0 6px 65px;
	position: relative;
}

section.woocommerce ul.product_list_widget li:last-child,
div.woocommerce ul.product_list_widget li:last-child {
	border: 0;
}

.widget.woocommerce ul.product_list_widget li:last-child,
body.woocommerce-page ul.product_list_widget li:last-child {
	margin-bottom: 0;
}

.widget.woocommerce ul.cart_list li a,
.widget.woocommerce ul.product_list_widget li a,
body.woocommerce-page ul.cart_list li a,
body.woocommerce-page ul.product_list_widget li a {
	// font-weight: 300;
	line-height: 1.2;
}

.widget.woocommerce ul.cart_list li img,
.widget.woocommerce ul.product_list_widget li img,
body.woocommerce-page ul.cart_list li img,
body.woocommerce-page ul.product_list_widget li img {
	border: 1px solid $border-color;
	box-shadow: none;
	height: 50px;
	left: 0;
	position: absolute;
	top: 5px;
	width: 50px;
}

.widget_product_search form {
	position: relative;
}

.widget_product_search .screen-reader-text {
	display: block;
}

.widget_product_search form #s,
.widget_product_search form input[type="search"] {
	max-width: 76%;
}

.widget_product_search form #searchsubmit {
	bottom: 1px;
	padding: 7px 15px;
	position: absolute;
	right: 0;
}

// PRODUCT ADDONS
//-----------------------------------------------
.product-addon-totals dt:nth-child(1), /*Options Total*/
.product-addon-totals dd:nth-child(2), /*Options Total Sum*/
.product-addon-totals dt:nth-child(3) /*Grand Total*/
{
	display:none;
} 

/*Grand Total Sum*/
.product-addon-totals dd:nth-child(4) {
    color: $text-color;
    @include font-size( $font-size-h1 );
    float:none;
    margin:0;
    display:inline;
    
    &:after {
        content: "including transport + install costs";
        @include font-size($font-size-sm);
        color: $text-muted;
        margin-left: .5em;
    }
}